<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Black Eagle Gym</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    <header class="bg-black text-white py-4 px-6 md:px-12 flex items-center justify-between border-b-2 border-red-500">
      <div class="flex items-center space-x-6 gap-x-8">
        <div class="w-32 relative">
          <div class="absolute bg-red-600 border-2 border-gray-300 px-8 py-4 w-full flex items-center justify-center -top-4" style="aspect-ratio: 1 / 1;border-radius: 50% 50% 50% 50% / 22% 24% 76% 78% ;">
            <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-2" style="aspect-ratio: 1 / 1;" viewBox="94 97 876 616" xml:space="preserve">
              <path
                fill="#100F10"
                d="M693.04 664.09v-10.02c-29.726-10.238-57.235-3.504-84.318 7.605-1.685.691-3.408 1.29-5.807 2.098-3.107.9-5.522 1.634-8.327 2.375-.884-.022-1.427-.203-1.862-.058-25.941 8.635-52.642 9.94-79.664 8.406-18.18-1.031-35.625-5.706-53.088-10.345-19.575-7.472-38.826-16.438-60.533-15.116-9.427.574-18.804 1.972-28.56 3.034v11.312c9.67-1.341 19.576-3.537 29.542-3.864 9.788-.32 19.638 1.259 29.461 2.005q.06.811.117 1.622c-5.81 4.307-11.454 8.875-17.53 12.768-1.94 1.242-5.187 1.388-7.562.843-10.85-2.487-21.65-5.226-32.358-8.266-2.958-.84-4.322-.606-5.82 2.192-3.484 6.507-9.44 8.378-16.452 7.84-6.896-.53-13.8-.951-20.697-1.486-1.64-.128-3.634-.006-4.823-.876-5.385-3.941-11.319-2.76-17.27-2.583-11.151.33-16.216-3.668-18.977-14.68h-48.306c-1.883 6.917-3.252 13.778-5.63 20.27-3.963 10.824-8.419 13.547-19.982 13.514-7.832-.022-15.666-.176-23.497-.104-5.46.05-9.616-1.91-12.573-6.642-.704-1.127-2.461-2.255-3.74-2.261-14.423-.068-14.91-.358-19.917-14.647-.992 0-2.123.015-3.253-.002-9.67-.145-13.098-3.033-14.614-12.595-.635-4.002-.37-8.242-5.41-9.998-.942-.327-1.604-2.522-1.731-3.916-.377-4.135-.777-8.328-.452-12.443.166-2.107 1.413-5.35 2.947-5.895 4.195-1.488 3.59-4.497 3.72-7.553.483-11.262 3.017-14.032 14.056-16.36 1.658-.35 3.795-1.97 4.335-3.49 3.215-9.05 5.499-10.975 15.313-10.903 3.173.023 5.199-.73 7.49-3.274 2.24-2.489 5.958-4.585 9.26-4.999 9.056-1.136 18.232-1.33 27.364-1.835 8.904-.494 15.54 3.579 18.407 11.69 3.016 8.534 4.58 17.587 6.663 26.441.405 1.724.28 3.573.413 5.584h51.337c.188-2.322.309-4.287.51-6.245.914-8.852 4.756-15.425 13.749-18.332 1.32-.427 2.89-2.232 3.107-3.597 2.567-16.165 11.558-27.68 25.422-35.72 2.508-1.455 3.488-3.039 2.703-6.032-.665-2.536-.55-5.276-.802-8.158-27.084 1.323-50.592-7.794-72.594-24.293 24.739-1.676 47.421-8.448 69.525-18.058-2.035.136-4.075.22-6.104.418-30.92 3.026-61.59 3.19-91.168-8.306-14.526-5.645-27.816-13.502-40.153-23.018-1.267-.977-3.05-1.287-4.593-1.906l1.83-2.189c44.9 8.107 89.29 6.781 133.026-7.304-9.415 0-18.83.078-28.244-.015-24.849-.245-49.759-.797-73.808-7.767-46.608-13.51-84.423-39.496-111.125-80.586-2.496-3.841-4.407-8.062-6.306-12.318 40.939 32.554 84.325 59.566 138.514 65.726 2.749.31 4.767.298 7.205.282 6.359.473 12.295 1.289 18.24 1.365 15.337.196 30.678.065 46.018.065l.11-1.596c-6.599-.937-13.198-1.873-20.077-3.062-18.855-4.695-37.39-9.31-56.022-13.502-8.121-1.827-16.439-2.783-25.037-4.227-5.296-1.5-10.222-2.907-15.149-4.314l-.34 1.03c5.944 3.09 11.889 6.181 17.833 9.603v1.654c-31.089-11.44-57.325-29.665-77.682-55.953-22.423-28.954-39.347-60.493-44.886-97.26a30 30 0 0 1-.316-2.96c-.01-.22.332-.456.682-.9 19.36 23.462 41.206 43.985 68.842 58.783 1.61 1.044 2.602 1.733 4.54 3.077-2.08 0-3.112 0-4.398-.264-5.087-1.852-9.92-3.44-15.54-5.286 1.8 5.564 3.554 10.988 5.384 16.82 1.518 3.886 2.96 7.363 4.384 11.243 1.693 10.371 7.314 18.369 13.185 26.188 1.036 1.38 2.801 2.471 4.457 3.087 11.783 4.384 23.504 8.993 35.479 12.793 16.86 5.351 33.892 10.177 50.917 14.99 5.886 1.664 11.972 2.622 17.918 3.891-2.491-7.28-4.718-13.789-6.552-20.322a3615 3615 0 0 1 45.93 11.867c3.344.807 6.377 1.446 9.41 2.084l.345-1.55c-9.02-4.157-18.039-8.314-27.324-12.716-1.394-.644-2.522-1.042-3.706-1.477-.057-.037-.182-.09-.454-.303-9.703-4.463-19.134-8.712-28.822-13.187-17.974-9.348-35.974-17.968-53.328-27.735-17.313-9.742-33.978-20.634-51.163-31.166.725 2.389 1.3 4.243 1.792 6.12.013.049-.884.336-1.356.512-15.302-19.114-27.436-40.057-36.296-62.886-8.848-22.797-13.007-46.43-12.555-70.875.023-1.238.266-2.472.466-4.241l38.371 58.988c-1.495-51.041 14.298-95.083 47.513-132.8l1.946.506q-1.073 6.405-2.15 12.811c-5.843 34.74 3.014 66.287 20.819 95.893 14.375 23.905 32.83 44.42 53.133 63.316 43.128 40.14 91.73 72.18 145.215 96.754 9.006 4.138 18.745 6.714 28.236 9.725 1.633.518 3.94.031 5.557-.763 2.986-1.469 5.46-4.338 9.33-2.247.262.143 1.476-.792 1.736-1.433 2.409-5.933 5.678-11.737 6.78-17.921 1.3-7.287-3.003-11.689-10.522-12.163-4.265-.27-8.676.066-12.878.874-7.068 1.358-8.734 4.628-6.4 11.544.789 2.333 1.984 4.529 2.446 7.97-3.75-1.649-7.725-2.92-11.212-5.01-18.185-10.894-22.325-36.436-8.04-50.714 3.174-3.173 7.801-4.876 11.704-7.343 1.625-1.027 4.068-1.998 4.5-3.475 3.59-12.259 13.22-18.428 23.59-23.662 27.589-13.922 56.624-16.335 86.56-9.957 10.492 2.235 20.87 5.004 32.044 7.71l-14.447 10.564c11.55 7.636 21.77 16.13 28.722 29.1H586.12c10.683 13.507 16.978 27.87 20.332 44.569l-8.504-1.356c3.097 6.929 5.518 13.667 9.132 19.69 1.216 2.026 5.845 3.657 8.263 3.015 8.747-2.324 17.523-5.02 25.742-8.77 61.385-28.017 115.997-65.824 162.833-114.502 19.73-20.507 36.77-43.032 47.743-69.653 10.67-25.883 13.351-52.41 6.928-79.762-.376-1.6-.382-3.286.3-5.152 33.803 37.51 49.615 81.43 47.07 131.99l1.372.42 37.913-58.57c.203 1.345.65 3.07.698 4.806.84 30.99-6.61 60.256-20.575 87.561-7.834 15.314-18.316 29.274-28.127 43.81-.67-.149-.817-.266-.922-.802.12-1.661.198-2.903.329-4.998-6.6 4.709-12.187 8.694-18.077 12.737-1.104.678-1.903 1.3-3.035 2.023-3.786 2.343-7.24 4.583-11.015 6.89-1.778.953-3.237 1.84-5.038 2.851-19.115 10.094-37.888 20.065-57.04 30.07-6.08 2.807-11.782 5.58-17.848 8.357-18.302 8.34-36.24 16.678-54.179 25.016l.495 1.651c6.032-1.543 12.064-3.086 18.488-4.635 13.465-3.35 26.538-6.695 39.58-9.673-2.318 6.598-4.604 12.829-7.162 19.801 2.648-.222 4.322-.12 5.859-.53 11.615-3.107 23.305-5.986 34.775-9.567 18.805-5.87 37.507-12.084 56.148-18.458 4.47-1.53 9.632-3.294 12.554-6.632 6.303-7.204 10.825-15.757 12.829-25.668 1.225-2.492 2.213-4.753 3.484-7.255 2.199-7.036 4.115-13.829 6.204-21.234-5.51 1.896-10.104 3.478-15.036 5.06-.772.11-1.207.22-1.977.27-.78-.415-1.226-.77-1.371-1.183a14 14 0 0 0 1.717-.892c7.916-4.738 16.334-8.812 23.645-14.348 16.88-12.781 32.604-26.904 45.377-43.995.243-.326.761-.445 2.221-1.25-1.48 7.588-2.325 14.432-4.171 20.994-13.67 48.595-40.168 88.548-81.87 117.385-11.427 7.902-24.934 12.8-37.88 18.817-.37-.71-.347-1.162-.01-1.77 5.592-2.848 10.871-5.54 16.15-8.23-14.557 1.81-28.793 4.257-42.857 7.46-17.604 4.012-35.066 8.645-53.007 13.013-7.038 1.035-13.659 2.067-20.28 3.098l.06 1.27c16.323 0 32.647.12 48.968-.066 5.555-.063 11.102-.892 16.881-1.09 2.48.037 4.731-.206 6.982-.45 10.38-2.044 20.92-3.492 31.106-6.25 25.932-7.025 49.522-19.435 71.988-33.807 11.584-7.41 22.111-16.473 33.125-24.776.578-.436 1.244-.756 1.87-1.13l1.022.789c-3.782 6.294-7.13 12.902-11.417 18.831-32.586 45.078-76.919 71.132-131.76 78.12-23.022 2.932-46.506 2.24-69.78 3.178-1.95.078-3.905.01-5.867.344 43.58 13.75 87.89 14.876 132.782 7.432-41.814 35.787-90.885 40.937-142.817 34.49 22.522 9.48 45.468 16.355 70.508 18.068-21.387 15.06-43.681 25.61-70.616 24.014-.435 3.42-1.08 6.805-1.17 10.204-.029 1.051 1.225 2.529 2.28 3.156 14.063 8.363 23.353 20.03 26.007 36.527.221 1.376 1.333 3.505 2.356 3.717 10.313 2.14 13.855 9.336 14.671 18.779.157 1.817.422 3.625.69 5.895h50.638c1.146-6.854 1.83-13.852 3.534-20.592 5.034-19.907 12-24.63 32.46-22.89 5.297.45 10.603.915 15.912 1.043 5.28.128 9.221 2.143 12.092 6.636.706 1.105 2.415 2.193 3.685 2.22 14.375.305 14.728.507 18.792 13.85 16.326 2.384 16.415 2.492 18.083 22.01 5.438 1.335 6.953 5.353 6.736 10.509-.132 3.16.342 6.445-.38 9.452-.558 2.325-2.503 4.338-3.921 6.429-1.073 1.582-3.025 2.937-3.322 4.617-2.558 14.44-3.979 15.81-18.812 16.546-.19.449-.515.995-.66 1.585-2.599 10.54-5.91 13.257-16.786 12.873-3.512-.124-5.437.942-7.758 3.674-2.126 2.501-5.992 4.68-9.221 4.876-10.293.625-20.647.362-30.974.234-5.1-.062-9.353-2.678-11.174-7.204-3.14-7.803-5.38-15.97-7.962-23.997-.24-.746-.222-1.575-.348-2.547h-47.998c-4.74 12.862-9.39 15.936-22.901 14.811-4.387-.365-8.288-.174-12.467 1.935-3.017 1.522-7.097.965-10.707 1.276-3.938.34-7.972.179-11.804.993-10.389 2.207-15.265.333-20.976-9.467-.676-1.583-1.334-2.45-2.053-3.64-.361-.456-.661-.59-.95-.676.01.048.093.103.093.103M505.57 346.854c.128.242.304.44.76 1.341 1.21 4.266 2.42 8.533 3.52 13.731.002 1.816.116 3.64-.01 5.447-1.07 15.311 4.047 29.105 10.457 43.284l11.507 17.378c12.168-14.99 17.373-32.502 14.569-47.977l-2.256-15.458c1.856 2.065 3.141 3.05 3.846 4.349 5.057 9.326 9.997 18.717 15.015 28.816l6.383 14.13c4.34-13.284 5.412-25.547.606-38.662-1.95-5.35-3.9-10.7-5.154-16.136 1.195 1.249 2.494 2.414 3.567 3.76 7.305 9.156 15.448 17.403 26.378 24.741-1.14-3.313-1.866-5.422-2.642-8.345-.68-2.316-1.335-4.64-2.046-6.947-4.857-15.743-13.265-29.603-23.57-43.57 2.057.71 3.216 1.11 4.475 1.976l16.15 8.677.794-.747c-2.26-3.295-4.522-6.59-7.151-10.658-1.371-1.826-2.751-3.645-4.112-5.477-6.42-8.647-14.53-15.204-24.348-20.44h20.908l.275-1.297c-9.537-7.05-20.407-11.597-32.268-15.916l15.965-5.37c-14.691-3.745-28.534-5.535-42.599-4.462-17.997 1.372-35.187 5.552-50.272 16.08-2.203 1.537-4.033 3.611-6.048 5.449 7.212 7.194 12.364 8.188 20.737 4.79 3.542-1.438 7.166-2.741 10.85-3.747 13.978-3.816 28.048-5.532 40.665-1.838-5.443 3.075-13.193 5.424-17.86 10.57-6.902 7.61-13.882 12.487-24.504 11.543l12.203 5.335-.632 1.933c-8.906-2.288-17.889-4.322-26.672-7.009-2.848-.87-5.473-3.144-7.677-5.31-5.442-5.346-8.613-6.413-15.597-3.482-3.802 1.596-7.575 3.594-10.826 6.103-7.754 5.986-9.617 16.455-4.786 25.185 1.281-1.197 2.563-2.393 4.524-3.776 6.083-2.583 12.165-5.166 19.176-7.54h22.686l-.016-1.281c-.954-.17-1.908-.34-3.244-1.114-.132-.444-.265-.889.466-1.148 2.731.398 5.455.86 8.195 1.18 5.74.667 11.591.78 17.21 1.99 9.644 2.079 18.5 5.961 24.597 14.302 0 0-.277.317-.932.004l-15.267-4.955c6.097 10.045 12.111 19.118 12.868 29.98-3.984-8.042-9.787-14.48-17.419-19.978-.316-.117-.633-.234-1.132-.88l-.78-.033c.117.366.233.732.468 1.48m104.144 299.109c1.758-.694 3.516-1.388 5.857-2.041.48-.293.96-.587 2.194-.92 20.58-7.794 41.775-10.13 63.841-6.54.12-1.91.2-3.195.587-5.163l2.766-8.341c-5.325-.903-10.522-2.109-15.784-2.557-3.225-.275-4.685-1.636-5.6-4.467-1.994-6.165-4.019-12.328-6.318-18.382-.765-2.015-2.175-3.917-3.682-5.496-6.632-6.949-13.753-13.464-19.997-20.737-3.6-4.194-5.868-9.532-8.866-14.573-19.434 22.334-26.463 48.189-23.508 76.752-46.194 18.325-92.064 19.384-138.501.194 3.606-28.912-4.09-54.679-23.691-76.09-5.404 7.633-10.441 15.666-16.43 22.913-4.67 5.653-11.646 9.605-15.538 15.64-3.947 6.12-5.217 13.93-8.02 20.852-.56 1.382-2.624 2.691-4.207 3.025-5.682 1.196-11.455 1.96-16.942 2.847l4.392 13.22c1.646-.247 3.755-.564 6.771-.692 20.073-1.75 39.564.59 58.269 8.352 35.428 14.702 72.126 21.653 110.335 15.958 14.34-2.137 28.273-7 43.116-10.637 1.75-.684 3.502-1.368 5.92-2.018.774-.353 1.549-.707 3.036-1.099m-457.818-24.088.627-13.727c-3.846-.62-5.585 1.097-5.873 4.502-.292 3.45-.488 6.91-1.188 10.888.2 2.46.401 4.92.565 8.228l5.341 24.425.526-.315c0-8.334 0-16.668.028-25.888-.031-2.41-.062-4.82-.026-8.113m760.045 2.009.007 7.05-2.284 25.585 1.271.234c4.496-8.262 6.614-17.141 6.39-27.464.157-2.19.314-4.382.477-7.429-.261-3.145-.447-6.3-.804-9.434-.426-3.741-2.542-4.962-6.5-4.018.52 5.055 1.01 9.824 1.443 15.476M514.967 523.324c5.305-1.256 10.552-2.6 13.352-9.016l1.73-14.678-1.495-.48c-7.117 10.91-18.191 14.61-30.011 16.704-7.466 1.323-15.023 2.138-23.332 2.949h-5.335l-.069 1.14c1.652.482 3.303.964 5.155 1.651 0 0 .287.023.816.548 12.683 4.23 25.46 5.4 39.19 1.182M162.992 631.859c1.209 8.844 2.879 17.557 7.758 25.465-.592-9.12-1.184-18.24-1.744-28.24-.025-2.064-.05-4.128.042-7.066l2.538-26.502c-6.418-.888-7.236-.644-8.03 5.659-.907 7.2-1.042 14.497-1.584 22.617.341 2.406.682 4.811 1.02 8.067m737.56-1.436c.125-2.513.25-5.025.509-8.45-.52-7.097-.654-14.25-1.674-21.274-.903-6.214-2.145-6.626-7.722-5.143.824 9.163 1.638 18.217 2.343 28.171.023 2.392.045 4.783.016 8.098l-3.119 28.607c6.222-8.833 8.25-18.945 9.648-30.01m-568.96 14.788c.432.95.864 1.9 1.349 3.572.578 1.174.888 2.644 1.79 3.457 1.688 1.52 3.904 3.893 5.559 3.644 2.064-.311 4.004-2.73 5.563-4.6.844-1.012.774-2.78 1.165-4.195.016-.058.635-.087.775.06.204.211.227.596.27 1.342 0 0 .13.418.055 1.143 1.981 2.42 3.627 5.362 6.13 6.974.85.547 4.258-1.915 5.763-3.642 1.32-1.513 1.947-3.866 2.292-5.946.943-5.686 1.576-11.423 2.417-17.829-1.928-3.675-3.765-7.342-9.048-4.386-.833.466-2.977.112-3.474-.595-3.216-4.577-6.687-3.183-10.143-.713-1.589-1.19-2.949-3.062-4.424-3.157-4.793-.31-10.893-4.532-13.493 3.666-.257.811-1.402 1.341-2.96 2.018-1.087.125-2.174.25-3.725.223-.48.92-.959 1.842-2.087 2.788-.433-.025-.865-.05-1.365-.535 0 0-.03-.465-.02-1.17-.781-.305-1.563-.61-2.93-.93-.39-.025-.78-.049-1.868-.352l-7.244-.482c-5.1 4.337-8.74 16.246-6.791 22.226 1.657 5.086 7.866 6.982 11.463 3.002 2.434-2.695 3.68-6.461 6.46-9.683.334.025.667.05 1.01.802-.013.932-.026 1.864-.816 3.285-.643 4.682 1.428 8.33 5.51 9.886 4.445 1.696 7.363-1.661 9.68-5.002 1.084-1.562 1.723-3.432 3.137-4.871m418.377-18.405c.073 1.918-.197 3.927.282 5.738 1.506 5.694 2.957 11.446 5.1 16.913 1.255 3.206 4.738 4.853 7.861 3.104 2.255-1.263 5.165-4.387 4.974-6.417-.576-6.124-2.33-12.177-4.09-18.12-.378-1.276-2.707-1.974-4.926-3.141-2.833.603-5.666 1.206-9.201 1.923m-560.73 1.634c.112-1.985.223-3.97.367-6.82l4.562-33.668c-7.921-1.22-9.83-.504-10.94 7.29-1.304 9.157-1.515 18.469-2.286 28.563.045 1.699.09 3.398.104 5.944 1.311 13.904 5.256 27.06 11.11 40.516-1.067-14.235-2.07-27.6-2.917-41.825m542.583 17.703c2.055 2.21 4.003 4.533 6.193 6.6 2.416 2.282 5.485 3.988 8.404 1.489 2.955-2.53 5.404-5.807 3.306-10.777-.155-.52-.31-1.041-.17-2.206-.276-1.126-.553-2.253-.695-3.984-.098-.396-.197-.791-.121-1.854-.303-1.584-.682-3.158-.893-4.755-.558-4.215-2.657-6.024-7.46-5.168-3.544-2.781-4.476-11.5-12.166-4.93-1.908 1.63-5.318 1.504-8.795 2.375-4.021-4.443-7.328-.001-10.752 2.855-5.823-2.914-6.216-2.785-10.13 3.441.533 4.185.87 8.407 1.66 12.543.66 3.46 1.852 6.82 2.865 10.827.803.858 1.606 1.715 2.852 3.14 6.266 1.864 8.275-.239 8.218-8.56 0 0 .061 0 .685-.197.401-.02.803-.041 1.13.71 1.324 5.598 4.354 9.086 8.03 8.59 5.018-.677 6.304-4.715 7.124-8.938.062-.321.025-.661.715-1.2m-140.608-245.37-.222-.053c.139-.07.278-.14-.243.5l2.423 15.964 25.224-2.786c-4.636-2.377-7.963-4.074-11.283-5.784-5.252-2.707-10.5-5.423-15.9-7.841m281.868 229.994c-.364 7.448-.378 14.935-1.19 22.334-.783 7.111-2.392 14.132-3.638 21.193 7.71-15.359 12.806-34.421 13.07-45.037.201-2.124.403-4.247.749-7.283-.868-9.37-1.182-18.837-2.777-28.083-1.278-7.413-3.644-8.153-9.994-6.226 1.329 11.834 2.63 23.423 3.74 35.902.04 2.082.082 4.164.04 7.2m-370.015-259.51-3.434-8.335c-6.721 16.892-14.408 32.664-3.574 50.179 1.058-3 2.028-5.75 3.546-9.027 5.238-10.256 7.823-20.793 3.462-32.817M223.673 589.232c-3.855-6.395-9.185-6.435-12.64.056-1.302 2.448-2.561 5.122-2.941 7.82-1.194 8.476-1.96 17.013-2.923 26.4.27 1.63.73 3.255.78 4.892.413 13.18 2.992 25.95 7.513 38.293 1.23 3.358 3.1 6.637 5.323 9.441 3.352 4.229 5.636 3.996 8.372-.575 1.504-2.512 2.853-5.304 3.417-8.14.574-2.89-.198-5.818-4.307-5.395-4.54.468-6.98-2.203-8.026-5.945-1.416-5.07-2.39-10.29-3.194-15.5-.903-5.855-1.405-11.772-1.92-18.485.805-7.108 1.61-14.216 3.097-20.885v14.483h13.489c1.028-8.39-1.22-15.992-3.405-23.568-.263-.91-1.678-1.49-2.635-2.892m618.814 3.983c-1.483.628-3.53.845-4.345 1.96-2.52 3.452-5.486 3.453-8.54 1.897.473 4.825.989 9.518 1.382 14.22.45 5.397 1.96 6.89 7.021 6.703 5.29-.195 7.748-2.572 8.053-7.284.15-2.322.925-4.603 1.775-6.182.507 5.957 1.015 11.913 1.308 18.648-.715 7.687-1.265 15.394-2.2 23.055-.633 5.188-.642 11.004-5.567 14.283-2.965 1.974-6.738 2.733-11.03 4.376 1.542 3.733 2.773 7.253 4.421 10.565 1.834 3.683 4.813 3.505 7.258.888 2.569-2.751 5.27-5.758 6.659-9.164 5.739-14.078 8.563-28.803 8.67-44.803-1.16-9.847-1.649-19.836-3.692-29.496-1.677-7.931-8.077-12.945-15.108-4.125 1.556 1.403 3.095 2.789 3.935 4.46m-306.312 15.016c-.471 4.551-1.411 9.113-1.312 13.653.181 8.257 3.649 11.576 11.977 12.203 2.637.198 5.347.213 7.957-.157 9.784-1.388 16.77-9.256 17.003-19.056-2.598-.257-5.217-.516-8.49-1.095-6.964-2.45-13.874-5.077-20.932-7.213-1.576-.477-3.672.766-6.203 1.665m-1.442-25.466c-.3 4.573.453 8.956 4.891 11.16 9.232 4.583 19.023 7.017 29.374 5.169 2.023-.362 4.842-1.977 5.42-3.659 1.765-5.13 2.614-10.574 3.902-16.26-5.177-.24-8.816-.41-13.152-.954-5.96-1.876-11.879-3.904-17.892-5.597-11.148-3.137-12.012-2.409-12.543 10.141m-5.332-3.65c-.825-7.586-2.573-9.098-9.981-7.22-6.872 1.743-13.564 4.195-21.26 6.165l-12.345.59c.406 3.816.566 7.3 1.182 10.7 1.349 7.44 5.348 11.068 12.794 10.321 7.048-.706 14.194-1.97 20.895-4.199 7.784-2.588 9.775-7.212 8.715-16.357m-.3 32.105c-.538-4.383-3.342-5.708-7.129-4.595-7.446 2.19-14.786 4.736-23.063 7.128l-8.165.457c2.61 18.284 17.77 22.205 31.249 19.842 2.538-.445 6.03-3.527 6.52-5.917 1.065-5.206.478-10.75.588-16.915m254.6 31.843c1.307.608 2.597 1.695 3.923 1.741 5.155.18 10.32.012 15.483.008 12.47-.012 24.941-.004 38.01-.004 0-1.916 0-3.339.196-5.692v-7.996h-61.334c1.326 3.94 2.53 7.517 3.723 11.943m-503.08-3.543 2.887-8.332H220.77c.158 3.178.297 5.97.296 9.61-.26 3.097.835 4.269 4.238 4.155 9.295-.31 18.606-.175 27.91-.194 8.592-.017 17.184-.003 26.03-.003.342-1.823.613-3.257 1.379-5.236m209.163-88.978c-.14 1.303-.45 2.613-.39 3.906.442 9.596 4.03 13.068 13.478 11.488 6.771-1.132 13.407-3.44 19.887-5.812 3.955-1.448 7.143-4.266 6.937-10.108.27-5.25.556-10.53-5.282-13.333-10.528-5.055-29.58 2.456-34.63 13.86m83.46-2.672c-5.602-7.065-12.917-11.386-21.797-12.476-10.124-1.243-19.362.993-16.56 17.289 1.821 2.238 3.209 5.626 5.541 6.504 7.507 2.825 15.299 4.984 23.11 6.867 3.682.888 7.522-.187 9.297-4.073 1.97-4.312 3.925-8.833.41-14.111m129.333 60.866c1.086.085 2.172.17 3.495.81 1.13-.36 2.26-.717 4.04-1.348 2.867-1.233 6.063-3.963 8.54-3.419 7.327 1.613 11.975-1.725 17.135-5.972 2.826-2.327 3.636-4.16 2.897-7.4-2.76-12.088-10.725-19.72-21.362-25.54-7.217 9.578-18.38 16.76-15.247 31.484-3.457-1.238-6.092-2.18-9.135-3.52l-13.606-5.221c1.012 11.007 6.338 18.794 14.024 24.769 3.183-1.732 5.897-3.208 9.219-4.643m-334.385-14.509-7.56 3.2c2.286-14.347-7.908-21.864-15.338-31.023-11.14 5.532-18.666 13.44-20.964 25.44-.347 1.812.443 4.549 1.73 5.827 2.999 2.975 6.62 5.323 10.422 8.258 5.14-2.199 10.83-1.952 15.753 2.036 2.987 2.42 5.628 2.115 9.316.848l8.13 4.153c9.141-7.17 14.529-16.271 14.539-24.435-5.09 1.886-10.192 3.776-16.028 5.696m-8.743-32.24c1.525 3.094 2.984 6.222 4.598 9.27 1.236 2.334 2.948 2.882 5.602.902.466-.315.932-.631 1.897-.99.138-.095.275-.19 1.114-.295 5.276-3.453 10.918-6.461 15.758-10.444 14.056-11.565 25.236-25.194 27.929-43.988 1.127-7.87.652-15.696-1.921-22.336l-25.755 6.106-.971-2.032c4.989-3.713 9.97-7.439 14.97-11.138 9.464-7.002 18.94-13.988 29.024-21.247 3.426-2.608 6.853-5.216 10.656-7.519 0 0 .426.233.126.873-.796 1.955-1.593 3.91-2.993 6.199-1.385 2.602-2.77 5.203-4.1 7.698 11.892 17.879 39.216 31.331 60.355 29.849 21.381-1.5 36.03-20.637 31.342-41.725-2.116-15.904-11.275-26.77-26.833-30.328-19.442-4.447-37.648-1.418-54.121 10.418-.128-.172-.257-.345-.209-1.184l13.14-16.866c-19.378 3.478-36.278 10.6-51.27 22.617-.132-.11-.265-.218-.188-1.001 3.506-4.904 7.012-9.807 11.11-14.841l.098-.73c-.426.078-.85.156-1.987.428-3.136 1.054-6.326 1.968-9.397 3.185-15.148 6.002-25.298 16.582-29.468 32.543-3.732 14.284-1.488 27.925 4.505 41.106 0 0 .016-.068.049.704-.954.704-1.848 1.912-2.872 2.035-12.349 1.48-19.237 7.074-22.743 19.114-3.3 11.337-1.782 22.378 2.555 33.617m343.398-.24c4.149-9.07 5.647-18.524 4.127-28.415-2.2-14.312-10.017-22.073-24.285-24.293-.912-.141-1.68-1.204-1.914-2.154.478-1.242.956-2.485 1.885-4.305 1.29-4.634 2.98-9.197 3.806-13.911 5.194-29.636-12.416-53.433-42.575-59.394 4.286 4.395 8.906 8.274 10.28 14.783-8.974-4.878-17.062-9.711-25.524-13.768-12.186-5.84-21.345-7.824-26.603-6.636 8.058 4.62 14.712 12.197 15.85 18.31-13.725-10.466-29.163-14.105-45.933-12.832-19.945 1.514-33.276 13.679-35.361 32.545.15 4.633-.146 9.332.536 13.885 2.233 14.919 11.346 24.6 26.329 26.488 7.391.932 15.399.621 22.589-1.226 17.085-4.39 31.337-13.851 42.86-27.432-1.83-3.006-3.46-5.683-5.21-9.067l-3.008-6.931.739-.501c3.823 3.058 7.647 6.116 11.729 9.8l44.108 31.83q-.44 1.06-.883 2.118l-28.176-6.246c-10.488 34.895 20.642 68.546 49.813 79.035 1.391-3.741 2.792-7.51 4.821-11.684M325.84 333.352l-70.576-59.902-1.218 8.647c-28.214-19.978-53.889-42.2-78.157-66.116l-1.428.58c0 6.44 0 12.88-.31 20.217-.027 2.33-.17 4.665-.06 6.988.392 8.393 1.221 16.53 8.053 22.798 13.964 12.815 26.88 26.924 41.723 38.6 43.85 34.494 93.95 57.718 145.63 77.717 14.97 5.793 30.267 10.736 44.676 16.196-12.798 3.832-24.927 8.927-35.666 17.17-20.863 16.014-28.164 38.66-19.496 61.698.33.876.947 1.645.924 1.606 1.48-7.223 2.012-15.208 4.773-22.33 9.735-25.103 29.559-38.27 54.948-44.245 3.057-.72 6.708-.678 9.029-2.406 5.16-3.84 9.652-8.578 14.69-13.201-14.958-6.636-29.526-13.098-44.455-20.155-23.047-13.948-46.09-27.904-69.156-41.82-1.084-.654-2.377-.961-3.923-2.042m562.128-98.308-1.026-18.407-77.84 66.262-2.937-12.063c-25.01 26.07-51.541 48.743-80.796 69.003-10.815 6.856-21.567 13.816-32.466 20.536-8.608 5.307-17.399 10.319-26.763 15.761l-44.399 20.416c3.891 3.988 7.49 8.14 11.602 11.698 2.09 1.808 4.985 3.044 7.717 3.693 17.845 4.234 33.85 11.657 46.122 25.788 10.443 12.025 14.538 26.399 15.267 42.818.728-1.386 1.188-2.045 1.443-2.776 8.126-23.223 1.19-45.759-18.279-60.975-10.769-8.417-22.692-14.196-35.326-18.323 36.331-12.533 72.037-26.553 106.524-43.63 46.908-23.229 89.94-51.7 125.078-91.025 2.006-2.245 3.885-5.233 4.338-8.11 1.027-6.51 1.126-13.168 1.741-20.666M534.096 505.67c.136 9.833 2.238 12.924 11.414 16.415 8.892 3.384 18.163 4.338 27.49 2.967 7.045-1.036 13.952-3.014 20.92-4.572-21.561-2.462-43.116-2.594-59.832-20.604 0 2.123 0 3.534.008 5.794m-68.299-101.46-20.812 10.926 25.342 1.823L472.544 401a822 822 0 0 1-6.747 3.212M305.392 611.97c2.116 2.603 3.85 5.723 6.461 7.654 2.32 1.715 5.643 2.978 8.47 2.882 4.104-.14 5.053-2.958 2.955-6.544-5.43-9.28-7.02-9.76-16.438-4.95-.294.15-.571.334-1.448.958m447.397 7.402 5.844-6.725c-3.008-1.509-5.392-2.597-7.67-3.875-2.878-1.616-5.113-.805-6.927 1.638-1.481 1.994-3.065 3.969-4.175 6.168-1.887 3.737.061 6.956 4.234 6.472 2.794-.325 5.42-2.1 8.694-3.678M497.367 303.295l-6.724 4.573c1.8.401 4.212 1.675 6.281 1.256 4.973-1.008 6.459-5.278 7.377-9.858-1.847 2.005-6.32-1.725-6.934 4.029m-7.03 2.201-.98-.989c.126.461.253.922.98.99m346.074 285.986s.112-.067 0 0M193.483 672.59s-.07-.117 0 0"
              />
              <path
                fill="#0E0E0F"
                d="m603.956 666.08 11.604 45.22H447.545c4.078-15.05 8.096-29.875 12.663-45.042 1.353-.143 2.173.005 2.957.264 43.795 14.427 87.736 14.48 132.196 1.35 3.12-.597 5.858-1.194 8.595-1.791"
              />
              <path
                xmlns="http://www.w3.org/2000/svg"
                fill="#131414"
                d="M693.959 664.985c.658.867 1.316 1.735 1.942 2.985-1.342.392-2.714.145-3.951.45-11.428 2.813-22.792 5.899-34.276 8.45-2.263.503-5.361-.325-7.381-1.62-5.285-3.388-10.186-7.375-15.3-11.168 7.055-6.546 37.425-6.315 57.658.074.39-.066.308-.12.272.126.322.399.679.551 1.036.703"
              />
              <path
                fill="#E0E0E1"
                d="M594.978 667.873c-44.077 13.128-88.018 13.076-131.813-1.351-.784-.259-1.604-.407-2.802-.603-.41-.39-.425-.785-.415-1.473 17.49 4.344 34.935 9.019 53.114 10.05 27.022 1.534 53.723.23 79.664-8.406.435-.145.978.036 1.867.347.393.666.389 1.051.385 1.436"
              />
              <path
                fill="#282727"
                d="M217.131 409.407c-.15-.772-.15-1.213.104-2.033.425-.401.596-.423 1.008-.183 4.565 2.118 8.887 3.973 13.385 6.075.55.369.924.491 1.55.824 1.05.51 1.85.81 2.868 1.402 5.127 2.386 10.034 4.48 14.941 6.573-2.019.011-4.037.022-6.35-.101-3.835-1.968-7.29-3.992-10.933-5.59-5.405-2.37-10.942-4.439-16.573-6.967"
              />
              <path
                fill="#4C4B4D"
                d="M817.177 421.49c-2.216.604-4.467.847-6.75.512 5.126-2.778 10.285-4.977 15.8-7.215 6.16-2.62 11.967-5.203 17.774-7.785a22 22 0 0 0-.033 1.69c-7.285 3.473-14.62 6.576-21.917 9.764-1.7.743-3.276 1.774-4.874 3.034"
              />
              <path
                fill="#C4C5C6"
                d="M595.361 667.872c-.38-.384-.375-.769-.376-1.442 2.408-1.023 4.823-1.756 7.624-2.464.72.521 1.052 1.016 1.366 1.813-2.756.899-5.493 1.496-8.614 2.093"
              />
              <path
                fill="#F4F4F5"
                d="M897.008 310.684c-.477.606-.95.884-1.732.898-.024-1.014.262-1.764.846-2.525.495-.012.694-.013.892-.014 0 .438 0 .875-.006 1.64"
              />
              <path
                fill="#100F10"
                d="M897.08 308.82c-.264.224-.463.225-.944-.05-.142-.632 0-.986.14-1.34.148.117.295.234.662.528.22.177.208.64.142.863m-791.332 45.453c-.05.275-.349.306-.646.337.133-.194.266-.387.646-.337"
              />
              <path
                fill="#F8F8F8"
                d="M562.937 397.036c-4.977-9.37-9.917-18.76-14.974-28.087-.705-1.3-1.99-2.284-3.846-4.349.892 6.117 1.574 10.788 1.88 16.127-2.304 7.645-3.54 14.912-6.33 21.522-3.536 8.377-7.183 8.723-13.602 2.28-1.685-3.071-3.297-5.807-4.964-8.844a9.7 9.7 0 0 0-1.079-1.709c-.013.029.044.002.04-.245s-.052-.738-.087-1.103c-.702-2.457-1.37-4.549-1.688-6.635 1.44-.294 2.528-.593 4.016-.927 1.15-1.553 2.459-3.041 2.549-4.6.261-4.561.038-9.15.004-13.73-1.18-11.332-7.194-20.405-13.291-30.45 5.089 1.652 10.178 3.304 15.825 5.276.815.284 1.072.247 1.328.21l-.655-.831c-6.396-8.045-15.252-11.927-24.897-14.006-5.618-1.21-11.47-1.323-17.209-1.99-2.74-.32-5.464-.782-8.912-1.538-3.397-.538-6.078-.718-8.913-1.202-2.604-2.197-5.054-4.09-7.692-6.277-1.523-1.496-2.858-2.7-4.194-3.902-.828.995-1.656 1.99-2.868 2.955-2.29.466-4.57.462-6.03 1.554-4.262 3.191-8.841 6.331-11.994 10.481-1.614 2.124-.423 6.362-.563 9.642-.019.432-.42.848-.644 1.272-4.808-8.036-2.945-18.505 4.809-24.49 3.251-2.51 7.024-4.508 10.826-6.104 6.984-2.93 10.155-1.864 15.597 3.483 2.204 2.165 4.83 4.438 7.677 5.31 8.783 2.686 17.766 4.72 26.672 7.008l.632-1.933-12.203-5.335c10.622.944 17.602-3.933 24.504-11.544 4.667-5.145 12.417-7.494 17.86-10.57-12.617-3.693-26.687-1.977-40.665 1.84-3.684 1.005-7.308 2.308-10.85 3.746-8.373 3.398-13.525 2.404-20.737-4.79 2.015-1.838 3.845-3.912 6.048-5.45 15.085-10.527 32.275-14.707 50.272-16.08 14.065-1.072 27.908.718 42.6 4.462l-15.966 5.37c11.86 4.32 22.73 8.867 32.268 15.917l-.275 1.297h-20.908c9.818 5.236 17.929 11.793 24.348 20.44 1.361 1.832 2.74 3.651 3.87 5.679-3.146-1.581-6.216-3.148-8.913-5.204-3.297-2.513-6.28-5.437-9.398-8.184l-.77.815 9.43 14.632-4.376-1.51c10.306 13.968 18.714 27.828 23.57 43.571.712 2.306 1.366 4.63 1.722 7.303-1.842-1.348-3.451-2.981-4.862-4.77-7.464-9.476-14.84-19.02-22.347-28.461-1.296-1.63-3.07-2.88-4.623-4.307 1.726 5.955 5.992 10.666 4.159 17.112 1.95 5.35 3.9 10.7 5.55 16.702-1.083 5.874-1.557 11.17-2.78 16.288-.588 2.462-2.59 4.586-3.95 6.863m-3.51-85.562s.114-.065 0 0m-58.066 10.849-.151.183s.294.008.15-.183"
              />
              <path
                fill="#F9F9F9"
                d="m388.132 635.22-5.865.88-4.392-13.22c5.487-.887 11.26-1.651 16.942-2.847 1.583-.334 3.648-1.643 4.207-3.025 2.803-6.923 4.073-14.732 8.02-20.852 3.892-6.035 10.868-9.987 15.539-15.64 5.988-7.247 11.025-15.28 16.429-22.914 19.6 21.412 27.297 47.18 23.69 76.09 46.438 19.19 92.308 18.132 138.502-.193-2.955-28.563 4.074-54.418 23.508-76.752 2.998 5.04 5.265 10.38 8.866 14.573 6.244 7.273 13.365 13.788 19.997 20.737 1.507 1.58 2.917 3.48 3.682 5.496 2.3 6.054 4.324 12.217 6.318 18.382.915 2.83 2.375 4.192 5.6 4.467 5.262.448 10.459 1.654 15.784 2.557-1.013 3.056-1.89 5.699-3.364 8.685-6.656-.295-12.767-1.764-18.76-1.386-10.167.643-20.339 2.038-30.353 3.934-5.335 1.01-10.345 3.735-15.864 5.714-1.473.363-2.582.699-4.086 1.048-3.971 1.008-7.599 1.858-11.094 3.086-1.032.363-1.69 1.794-2.87 2.601-2.919.127-5.534.161-8.046.686-13.434 2.807-26.723 7.194-40.286 8.311-25.914 2.136-51.712-.192-76.744-7.968a1485 1485 0 0 1-37.776-12.302c-15.952-5.427-32.427-4.373-48.83-4.286-1.216.006-2.428.793-4.522 1.525zm29.587-22.998-4.005 6.63 36.054 8.432c-.392-14.75-2.753-29.413-10.313-44.123-7.466 9.928-14.418 19.172-21.736 29.06m216.314-16.756-9.991-11.328c-6.794 14.15-9.253 28.553-9.832 42.92 11.975-2.727 23.858-5.431 36.891-8.397-5.551-7.6-11.063-15.145-17.068-23.195"
              />
              <path
                fill="#FBFCFC"
                d="M441.976 457.973c-3.426 2.608-6.853 5.216-10.918 7.802-.649-1.883-1.128-3.91-.546-5.564.69-1.964 2.294-3.607 3.501-5.389-1.392-.309-2.016-.087-2.474.32-9.876 8.786-20.866 15.762-33.132 20.745-4.298 1.746-5.407 1.2-5.322-3.493.05-2.771.518-5.535.799-8.303l-1.28-.347c-2.268 5.452-5.38 10.722-6.608 16.4-1.874 8.662-2.448 17.606-3.574 26.43-5.952-13.236-8.196-26.877-4.464-41.16 4.17-15.962 14.32-26.542 29.468-32.544 3.07-1.217 6.261-2.131 9.896-3.122.499.062.798.37.798.37-3.506 4.903-7.012 9.806-10.804 15.327-.157.995-.028 1.373.102 1.75l.755-1.02c14.61-12.362 31.51-19.485 50.887-22.963a7169 7169 0 0 0-13.467 17.32c-.415.794-.503 1.132-.897 1.571-.13.351.049.601.226.85-.014-.342-.027-.685.17-.754.594.056.977-.162 1.36-.379 16.15-12.394 34.356-15.423 53.798-10.976 15.558 3.558 24.717 14.424 26.43 30.835-.81 2.682-1.33 4.841-1.605 7.032-1.242 9.922-4.99 18.143-14.638 22.68-9.294 4.369-18.994 4.527-28.736 2.557-17.966-3.634-33.023-11.696-41.612-28.933.797-1.955 1.594-3.91 2.67-6.407.194-.775.108-1.007.022-1.24zm95.061 3.014c1.651-18.174 14.982-30.34 34.927-31.853 16.77-1.273 32.208 2.366 45.934 12.833-1.14-6.114-7.793-13.691-15.851-18.311 5.258-1.188 14.417.795 26.603 6.636 8.462 4.057 16.55 8.89 25.525 13.768-1.375-6.509-5.995-10.388-10.28-14.783 30.158 5.961 47.768 29.758 42.574 59.394-.826 4.714-2.516 9.277-4.33 13.982-.345-14.334-4.047-27.65-11.37-39.958-.193 2.552.184 4.988.24 7.432.136 6.031-1.767 7.396-7.091 4.76-5.184-2.568-10.22-5.457-15.204-8.4-5.253-3.104-10.369-6.44-15.672-9.856-.363-.14-.6-.1-.836-.059.177.227.354.453.591 1.066.077 3.069.094 5.75.111 8.432l-11.47-9.175-.739.501c1.003 2.31 2.006 4.62 2.825 7.512-2.512 4.16-4.38 8.17-7.25 11.242-11.219 12.007-25.784 17.234-41.685 18.718-20.773 1.938-36.545-9.19-35.79-30.432.04-1.127-1.147-2.298-1.762-3.449m93.49-5.575.169-.7c-.143.148-.286.298-.17.7"
              />
              <path
                fill="#FAFAFA"
                d="M725.98 339.77c28.645-20.19 55.176-42.865 80.186-68.934l2.937 12.063 77.84-66.262c.332 5.956.68 12.181.62 18.898-1.112 1.158-1.944 1.733-2.505 2.505-4.568 6.285-8.946 12.715-13.648 18.897-11.406 14.996-24.983 27.867-39.602 39.66-4.134 3.335-8.542 6.331-12.824 9.483l-.84-.892c4.012-6.349 8.024-12.698 12.304-19.249 3.363-5.448 6.458-10.694 9.809-16.096.415-.723.573-1.288.886-1.896.059-.008-.038.028-.392.218-.423.714-.587 1.274-1.098 1.853-6.216 5.275-12.155 10.457-17.913 15.833-1.871 1.747-3.27 4-5.04 6.115.029.11.212.127.737.087 2.489-1.135 3.843-.94 3.316 2.186-2.682 2.915-5.122 5.604-7.631 8.228-19.97 20.889-43.639 36.912-69.206 49.752-21.914 11.004-44.807 20.083-67.407 29.682-10.356 4.398-21.058 7.98-31.58 11.991-1.044.398-1.934 1.2-3.653 2.297l8.54 2.865c13.106 3.548 25.03 9.327 35.798 17.744 19.469 15.216 26.405 37.752 18.28 60.975-.256.73-.716 1.39-1.444 2.776-.729-16.42-4.824-30.793-15.267-42.818-12.272-14.131-28.277-21.554-46.122-25.788-2.732-.649-5.628-1.885-7.717-3.693-4.112-3.558-7.71-7.71-11.602-11.698 14.833-6.82 29.616-13.618 45.038-20.38 1.74.026 2.964.335 3.92-.04 8.331-3.276 17.138-5.767 24.817-10.198 27.141-15.663 53.966-31.88 80.736-48.174 6.603-4.018 12.545-9.12 18.956-13.787.026-.051-.113-.038-.628-.031-1.615.441-2.947.726-4.08 1.363-16.327 9.179-32.564 18.518-48.97 27.55-4.952 2.726-10.355 4.633-15.55 6.916m88.557-46.395-.107.195s.222-.031.107-.195m-2.149 2.1.172.099s-.024-.193-.172-.098M399.282 377.81c14.567 6.461 29.135 12.923 44.092 19.559-5.037 4.623-9.53 9.361-14.69 13.201-2.32 1.728-5.97 1.686-9.028 2.406-25.39 5.976-45.213 19.142-54.948 44.245-2.761 7.122-3.294 15.107-4.773 22.33.023.039-.594-.73-.924-1.606-8.668-23.037-1.367-45.684 19.496-61.698 10.74-8.243 22.868-13.338 36.413-17.175 3.094-.998 5.441-1.99 8.2-3.155-1-.67-1.483-1.146-2.062-1.356-5.305-1.928-10.662-3.717-15.938-5.72-34.013-12.918-68.1-25.625-99.726-44.012-18.026-10.48-35.433-21.764-50.365-36.394-6.133-6.009-11.365-12.937-16.972-19.761 1.957.289 3.88.893 5.984 1.723.722.41 1.262.594 1.931.986.352.475.636.63 1.04.837.175.213.291.26.407.308a7 7 0 0 1-.465-.79c-.269-.513-.513-.722-.985-1.095-.685-.471-1.207-.702-1.812-1.262-6.473-6.025-12.863-11.721-19.252-17.417l-1.363 1.163c2.1 2.939 4.2 5.877 6.342 9.183 5.08 7.845 10.116 15.323 15.152 22.8-2.15.209-3.455-.19-4.45-.979-8.181-6.477-16.695-12.601-24.358-19.647-13.845-12.728-25.634-27.292-36.068-42.96-1.451-2.18-3.778-3.777-5.7-5.643v-19.32l1.43-.58c24.267 23.915 49.942 46.138 78.156 66.116l1.218-8.647c23.418 19.876 46.998 39.889 70.355 60.23-3.824-1.216-7.526-2.566-11.007-4.348-6.592-3.375-13.056-6.998-19.78-10.77-8.752-5.087-17.297-9.921-25.841-14.756l-1.222 2.097c8.406 5.372 16.811 10.743 25.42 16.381 3.892 2.51 7.529 4.844 11.277 6.985 23.345 13.334 46.535 26.957 70.18 39.737 7.583 4.098 16.39 5.933 24.636 8.803M223.078 270.322l.297-.133c-.124-.064-.248-.128-.58-.639-.202-.279-.471-.457-.906-.823l-.262-.152c.13.137.26.274.564.88.187.304.455.487.887.867m43.466 33.058-.095.166s.197-.024.095-.166"
              />
              <path
                fill="#C1C3C3"
                d="M174.306 236.33c2.076 1.417 4.403 3.014 5.854 5.194 10.434 15.668 22.223 30.232 36.068 42.96 7.663 7.046 16.177 13.17 24.357 19.647.996.789 2.3 1.188 4.451.98-5.036-7.478-10.073-14.956-14.786-22.753 2.805 1.997 5.288 4.314 7.772 6.63 5.642 6.51 10.874 13.438 17.007 19.447 14.932 14.63 32.339 25.914 50.365 36.394 31.627 18.387 65.713 31.094 99.726 44.011 5.276 2.004 10.633 3.793 15.938 5.72.58.211 1.062.687 2.063 1.357-2.76 1.166-5.107 2.157-7.832 3.09-15.525-5.39-30.823-10.333-45.792-16.126-51.68-20-101.78-43.223-145.63-77.717-14.843-11.676-27.759-25.785-41.723-38.6-6.832-6.269-7.66-14.405-8.053-22.798-.11-2.323.033-4.658.215-7.437m475.746 162.436c-2.725-.546-5.215-1.381-8.776-2.576 1.719-1.098 2.609-1.899 3.653-2.297 10.522-4.01 21.224-7.593 31.58-11.991 22.6-9.599 45.493-18.678 67.407-29.682 25.567-12.84 49.237-28.863 69.206-49.752 2.509-2.624 4.95-5.313 7.984-8.254 2.283-2.148 3.931-4.09 5.756-5.848.944-.91 2.202-1.493 3.318-2.223l-12.036 19.046.84.892c4.282-3.152 8.69-6.148 12.824-9.483 14.62-11.793 28.196-24.664 39.602-39.66 4.702-6.182 9.08-12.612 13.648-18.897.561-.772 1.393-1.347 2.436-2.054-.14 6.556-.239 13.214-1.266 19.724-.453 2.877-2.332 5.865-4.338 8.11-35.138 39.326-78.17 67.796-125.078 91.024-34.487 17.078-70.193 31.098-106.76 43.92"
              />
              <path
                fill="#282727"
                d="m273.004 377.029 6.944 20.296c-5.946-1.27-12.032-2.227-17.918-3.89-17.025-4.814-34.056-9.64-50.917-14.99-11.975-3.801-23.696-8.41-35.48-12.794-1.655-.616-3.42-1.707-4.456-3.087-5.871-7.82-11.492-15.817-12.816-26.177 22.23 8.014 43.955 16.742 65.952 24.72 16.044 5.82 32.447 10.65 48.69 15.922m630.741-40.553c-1.766 9.681-6.288 18.234-12.591 25.438-2.922 3.338-8.084 5.103-12.554 6.632-18.641 6.374-37.343 12.588-56.148 18.458-11.47 3.58-23.16 6.46-34.775 9.567-1.537.41-3.211.308-5.859.53 2.558-6.972 4.844-13.203 7.463-20.02 20.064-7.01 39.91-13.098 59.49-19.952 18.471-6.465 36.66-13.736 54.974-20.653"
              />
              <path
                fill="#BFC1C0"
                d="M633.17 456.814c5.175 3.234 10.291 6.57 15.544 9.672 4.985 2.944 10.02 5.833 15.204 8.4 5.324 2.637 7.227 1.272 7.09-4.759-.055-2.444-.432-4.88-.24-7.432 7.324 12.308 11.026 25.624 11.145 40.247-.18 1.46-.657 2.703-1.697 3.764-5.65-.689-10.73-1.274-15.825-1.675-3.735-.295-5.874 1.617-5.337 5.342.725 5.029 1.182 10.312 3.12 14.91 6.181 14.668 15.406 26.49 32.15 30.5l2.563 7.938 5.336-1.568-4.194 11.28c-29.171-10.49-60.301-44.14-49.813-79.036l28.176 6.246.883-2.117c-14.703-10.61-29.406-21.22-44.237-32.143-.147-2.995-.164-5.676-.132-8.853.05-.495.263-.716.263-.716"
              />
              <path
                fill="#C1C3C3"
                d="M382.443 506.547c1.105-8.797 1.679-17.74 3.553-26.403 1.229-5.678 4.34-10.948 6.607-16.4l1.28.347c-.28 2.768-.748 5.532-.798 8.303-.085 4.693 1.024 5.239 5.322 3.493 12.266-4.983 23.256-11.96 33.132-20.744.458-.408 1.082-.63 2.474-.32-1.207 1.781-2.81 3.424-3.501 5.388-.582 1.654-.103 3.68.24 5.697-9.14 7.148-18.615 14.134-28.08 21.136-5 3.7-9.98 7.425-14.97 11.138l.972 2.032 25.755-6.106c2.573 6.64 3.048 14.466 1.92 22.336-2.692 18.794-13.872 32.423-27.928 43.988-4.84 3.983-10.482 6.99-16.233 10.316-.696.07-.917.268-1.138.466-.466.316-.932.632-1.887.637-4.283-1.305-3.827-4.045-3.003-7.197.371-.79.734-1.243.742-1.702.097-5.888 3.863-7.953 8.861-9.817 15.501-5.778 28.449-25.4 28.382-41.787-.014-3.522-1.176-5.447-4.764-5.385-5.635.096-11.268.319-16.902.488 0 0-.016.068-.036.096"
              />
              <path
                fill="#FBFCFC"
                d="M382.496 506.837c5.617-.555 11.25-.778 16.885-.874 3.588-.062 4.75 1.863 4.764 5.385.067 16.386-12.88 36.009-28.382 41.787-4.998 1.864-8.764 3.929-8.861 9.817-.008.46-.371.913-1.089 1.655-2.085-1.745-3.65-3.776-5.67-6.397l-.623 3.31c-4.405-10.77-5.924-21.811-2.623-33.148 3.506-12.04 10.394-17.635 22.743-19.114 1.024-.123 1.918-1.331 2.856-2.421m320.04 55.113c-1.812.644-3.31 1.084-5.649 1.77l-2.563-7.937c-16.744-4.01-25.969-15.832-32.15-30.5-1.938-4.598-2.395-9.881-3.12-14.91-.537-3.725 1.602-5.637 5.337-5.342 5.095.401 10.176.986 15.524 1.833 1.097.973 1.865 2.036 2.777 2.177 14.268 2.22 22.085 9.98 24.285 24.293 1.52 9.891.022 19.346-4.44 28.617"
              />
              <path
                fill="#F8F8F8"
                d="M903.982 336.246c-18.551 7.147-36.741 14.418-55.213 20.883-19.578 6.854-39.425 12.943-59.457 19.584-13.375 3.565-26.448 6.91-39.855 9.912.988-1.254 2.195-2.445 3.647-3.035 22.543-9.168 44.894-18.87 67.744-27.207 27.07-9.877 54.57-18.586 81.922-27.681 1.272-.423 2.933.327 4.413.53-.988 2.261-1.976 4.522-3.201 7.014m-630.586 40.757c-16.636-5.246-33.039-10.076-49.083-15.895-21.997-7.979-43.722-16.707-65.933-25.125a64 64 0 0 1-4.411-10.686c5.02 1.738 9.664 3.98 14.504 5.655 15.846 5.485 31.95 10.276 47.61 16.236 23.424 8.913 46.556 18.592 70.053 28.204 10.13 3.863 20.028 7.435 29.887 11.115 1.116.417 2.002 1.45 2.995 2.196-15.076-3.908-30.153-7.817-45.622-11.7"
              />
              <path
                fill="#C1C3C3"
                d="M907.466 328.99c-1.763.039-3.424-.71-4.696-.288-27.353 9.095-54.851 17.804-81.922 27.681-22.85 8.337-45.201 18.04-67.744 27.207-1.452.59-2.659 1.781-4.038 3.04-6.091 1.892-12.123 3.435-18.155 4.978l-.495-1.651c17.938-8.338 35.877-16.675 54.377-24.739 6.137-1.76 11.712-3.794 17.531-5.898.412-.096.578-.124 1.017-.035 1.16-.293 2.05-.703 3.314-1.131 10.708-4.377 21.04-8.736 31.663-13.121.768-.323 1.245-.62 2.095-.95 1.316-.339 2.31-.538 3.195-.965 10.569-5.114 21.28-9.965 31.626-15.5 7.528-4.03 14.567-8.975 22.129-13.562.74-.448 1.174-.844 1.608-1.24l14.7-5.06c-2.09 7.406-4.006 14.2-6.205 21.235"
              />
              <path
                fill="#F9F9F9"
                d="M360.843 608.51c-2.977 1.572-5.618 1.877-8.605-.543-4.923-3.988-10.613-4.235-15.753-2.036-3.801-2.935-7.423-5.283-10.421-8.258-1.288-1.278-2.078-4.015-1.73-5.828 2.297-12 9.824-19.907 20.963-25.439 7.43 9.159 17.624 16.676 15.338 31.022 2.758-1.166 5.159-2.182 7.927-2.86-.866 2.42-2.097 4.503-3.333 6.582q-2.192 3.682-4.386 7.36m332.508-14.28 8.727 3.123c-3.133-14.724 8.03-21.906 15.247-31.483 10.637 5.82 18.602 13.45 21.362 25.539.74 3.24-.071 5.073-2.897 7.4-5.16 4.247-9.808 7.585-17.136 5.972-2.476-.544-5.672 2.186-9.214 3.35-1.65.241-2.626.551-3.601.862-1.087-.085-2.173-.17-3.449-.629-.777-2.047-1.04-3.95-2.02-5.35-2.146-3.063-4.657-5.872-7.019-8.785"
              />
              <path
                fill="#D0D2D2"
                d="M388.585 635.314c-1.998-.794-3.543-1.494-6.22-2.707 2.093-.732 3.305-1.519 4.52-1.525 16.404-.087 32.879-1.141 48.83 4.286a1485 1485 0 0 0 37.777 12.302c25.032 7.776 50.83 10.104 76.744 7.968 13.563-1.117 26.852-5.504 40.286-8.31 2.512-.526 5.127-.56 8.167-.382.763 1.01 1.054 1.58 1.345 2.15-14.119 3.622-28.052 8.485-42.392 10.622-38.21 5.695-74.907-1.256-110.335-15.958-18.705-7.762-38.196-10.102-58.722-8.446"
              />
              <path
                fill="#C4C5C6"
                d="M285.894 375.133c-23.255-9.353-46.387-19.032-69.81-27.945-15.662-5.96-31.765-10.75-47.61-16.236-4.841-1.675-9.485-3.917-14.58-6.063-2.116-5.588-3.87-11.012-5.67-16.576 5.62 1.846 10.453 3.434 15.668 5.61 12.385 7.287 24.094 14.596 36.458 20.545 19.098 9.189 38.59 17.574 58.056 25.972 3.168 1.368 7.065 1.047 10.625 1.507 9.432 4.249 18.863 8.498 28.26 13.307-2.418.46-4.802.385-7.183.253-1.407-.078-2.81-.246-4.214-.374"
              />
              <path
                fill="#F8F8F8"
                d="M322.003 626.007c.734-.66 1.879-1.19 2.136-2.002 2.6-8.198 8.7-3.976 13.493-3.666 1.475.095 2.835 1.967 4.424 3.157 3.456-2.47 6.927-3.864 10.143.713.497.707 2.641 1.061 3.474.595 5.283-2.956 7.12.711 8.647 4.696-4.24-1.372-5.974.08-6.263 4.07-.251 3.469-.457 6.98-1.205 10.357-.48 2.168-1.906 4.127-2.909 6.18l-1.62-.654-.898-17.342-.993.148-1.427 11.833-1.387-.085V628.79c-1.057.591-1.382 1.165-1.499 1.78-1.045 5.507-1.703 11.122-3.26 16.478-.546 1.874-3.277 3.112-5.01 4.64-.637-1.707-1.465-3.372-1.85-5.134-.314-1.434-.097-2.983-.057-4.867.05-1.164.04-1.94.053-3.092.257-2.072.493-3.77.809-5.885.33-3.214.583-6.012.834-8.81l-1.32-.079c-.466 3.034-.933 6.068-1.743 9.128-.803.05-1.263.072-1.67-.327.124-1.832.197-3.244.51-4.9.24-1.568.24-2.89.24-4.213l-1.125-.267c-.563 1.527-1.125 3.055-1.919 4.897-1.24 5.346-1.721 10.57-3.466 15.33-.94 2.568-3.741 5.033-6.31 6.15-1.085.472-3.73-2.646-5.671-4.126-.362-.276-.747-.524-1.12-.784.012-.932.025-1.864.28-3.394.725-4.5 1.209-8.403 1.692-12.305.48-.92.958-1.842 1.67-2.344.867 1.007 1.5 1.593 2.134 2.18z"
              />
              <path
                fill="#F4F4F5"
                d="M749.26 641.892c.156.52.31 1.041.08 1.825-.803.752-1.147 1.336-1.648 1.712-1.963 1.474-4.136 4.186-5.927 3.965-1.978-.243-3.959-2.975-5.314-5.034-1.219-1.851-1.592-4.259-2.34-6.843-.963-4.786-.096-9.788-5.21-14.05.416 2.3.621 3.439.846 5.004.086 2.133.153 3.84.202 5.88.027.774.072 1.216.096 1.987.034.767.09 1.203.09 1.943-.165.772-.273 1.24-.487 2.18l-1.658-3.444c0 4.039.424 7.048-.17 9.84-.323 1.525-2.191 3.06-3.74 3.795-.517.245-2.871-1.791-3.237-3.104-1.233-4.427-1.808-9.034-2.953-13.49-.334-1.3-1.732-2.327-2.743-3.786-.726-.11-1.906.111-1.898.279.247 5.545.607 11.086.951 16.627 0 0-.061 0-.41-.087-1.967-1.216-3.586-2.344-5.515-3.688-.367-2.177-.769-4.922-1.3-7.642-.852-4.352-3.165-7.1-7.978-6.932 3.461-5.827 3.854-5.956 9.677-3.042 3.424-2.856 6.731-7.298 10.752-2.855 3.477-.87 6.887-.744 8.795-2.375 7.69-6.57 8.622 2.149 12.443 5.543 1.672 4.669 2.997 8.78 7.902 9.977.098.396.197.791-.146 1.625-1.762 2.286-2.044 3.779.84 4.19M268.775 361.72c-3.304-.233-7.2.088-10.37-1.28-19.465-8.398-38.957-16.783-58.055-25.972-12.364-5.949-24.073-13.258-36.203-20.281.903-.324 1.934-.324 4.015-.324-1.938-1.344-2.93-2.033-4.238-2.863-.147-.39.021-.638.492-1.217.776-.507 1.673-.794 1.66-.843-.492-1.877-1.067-3.731-1.792-6.12 17.185 10.532 33.85 21.424 51.163 31.166 17.354 9.767 35.354 18.387 53.328 27.735"
              />
              <path
                fill="#BDBEBD"
                d="M439.787 465.182c8.89 17.07 23.948 25.132 41.914 28.766 9.742 1.97 19.442 1.812 28.736-2.558 9.649-4.536 13.396-12.757 14.638-22.68.274-2.19.795-4.35 1.588-6.62 5.107 20.17-9.54 39.308-30.922 40.807-21.139 1.482-48.463-11.97-60.354-29.849 1.328-2.495 2.714-5.096 4.4-7.866m97.033-3.849c.832.805 2.019 1.976 1.979 3.103-.755 21.243 15.017 32.37 35.79 30.432 15.9-1.484 30.466-6.711 41.684-18.718 2.871-3.072 4.739-7.082 7.31-10.889 1.874 2.45 3.504 5.127 5.334 8.133-11.523 13.58-25.775 23.041-42.86 27.432-7.19 1.847-15.198 2.158-22.59 1.226-14.982-1.888-24.095-11.57-26.328-26.488-.682-4.553-.385-9.252-.32-14.23"
              />
              <path
                fill="#C4C5C6"
                d="M725.675 339.805c5.501-2.317 10.904-4.224 15.855-6.95 16.407-9.032 32.644-18.371 48.97-27.55 1.134-.637 2.466-.922 4.102-1.34.396.03.442.072.442.072-6.246 4.603-12.188 9.705-18.79 13.723-26.77 16.294-53.596 32.51-80.737 48.174-7.68 4.431-16.486 6.922-24.817 10.197-.956.376-2.18.067-3.592-.11 8.397-5.327 17.188-10.339 25.796-15.646 10.9-6.72 21.65-13.68 32.771-20.57"
              />
              <path
                fill="#FAFAFA"
                d="M535.073 551.966c-2.986-15.577 6.252-17.813 16.376-16.57 8.88 1.09 16.195 5.41 21.76 13.2-.746 10.633-5.398 14.43-15.112 11.765-7.851-2.154-15.362-5.55-23.024-8.395m-44.673-1.9c4.436-10.926 23.488-18.437 34.016-13.382 5.838 2.804 5.551 8.084 4.85 13.843-1.534 1.494-2.48 2.99-3.762 3.377-8.187 2.468-16.357 5.153-24.723 6.791-3.873.759-7.133-2.16-8.737-6.076-.611-1.492-1.1-3.034-1.643-4.553"
              />
              <path
                fill="#FEFEFE"
                d="M897.058 314.107c-7.257 4.536-14.296 9.481-21.824 13.51-10.345 5.536-21.057 10.387-31.626 15.5-.884.428-1.879.627-3.36.716-1.098.264-1.66.745-2.22 1.226-10.333 4.359-20.665 8.718-31.785 13.037-1.607-.058-2.426-.076-3.276-.458a21 21 0 0 0-.146-1.088c18.774-9.97 37.547-19.942 56.801-29.706 3.534 1.077 5.113-.075 5.219-3.247 3.454-2.24 6.909-4.481 10.894-6.51 3.564 1.509 3.129-.666 3.14-2.394l17.773-12.68a463 463 0 0 1-.329 4.998c-.184.773-.325 1.127-.48 1.769-.3 1.038-.587 1.788-.863 2.86.455.677.9 1.032 1.69 1.688.346.3.392.779.392.779"
              />
              <path
                fill="#C4C5C6"
                d="M399.101 377.511c-8.066-2.572-16.872-4.407-24.455-8.505-23.645-12.78-46.835-26.403-70.18-39.737a108 108 0 0 1-11.14-7.27c.527-1.43 1.12-2.307 1.713-3.185 6.517 3.52 12.981 7.143 19.573 10.518 3.48 1.782 7.183 3.132 11.182 4.655 1.593.446 2.886.753 3.97 1.407 23.066 13.916 46.11 27.872 69.337 42.117"
              />
              <path
                fill="#B0B0B2"
                d="M844.315 406.845c-6.12 2.74-11.928 5.321-18.326 7.659-1.902-.2-3.222-.239-4.523-.1-17.252 1.85-34.497 3.76-51.757 5.533-1.518.156-3.125-.547-4.69-.852 17.523-4.365 34.985-8.998 52.59-13.01 14.063-3.203 28.3-5.65 42.856-7.46-5.279 2.69-10.558 5.382-16.15 8.23"
              />
              <path fill="#FBFCFC" d="m221.206 639.953-.436-8.764h62.74c-.967 2.789-1.927 5.56-3.612 8.602-20.048.234-39.37.198-58.692.162" />
              <path
                fill="#E0E0E1"
                d="M534.092 505.246c-.004-1.836-.004-3.247-.004-5.37 16.716 18.01 38.27 18.142 59.832 20.604-6.968 1.558-13.875 3.536-20.92 4.572-9.327 1.37-18.598.417-27.49-2.967-9.176-3.491-11.278-6.582-11.418-16.84"
              />
              <path
                fill="#B4B5B6"
                d="M235.827 415.2c-.8-.3-1.6-.6-2.83-1.34-.803-.574-1.173-.707-1.544-.84-4.323-1.856-8.645-3.711-13.232-6.13-.038-1.581.189-2.598.361-3.373l-3.574-2.322c8.228 1.352 16.546 2.308 24.667 4.135 18.631 4.191 37.167 8.807 55.734 13.8-16.93-.877-33.852-2.333-50.78-3.712-2.92-.238-5.867-.154-8.802-.219"
              />
              <path
                fill="#EFEFEF"
                d="M857.015 623.122c.23 15.255-2.594 29.98-8.333 44.058-1.389 3.406-4.09 6.413-6.66 9.164-2.444 2.617-5.423 2.795-7.257-.888-1.648-3.312-2.88-6.832-4.42-10.565 4.29-1.643 8.064-2.402 11.029-4.376 4.925-3.28 4.934-9.095 5.567-14.283.935-7.66 1.485-15.368 2.711-23.314 2.796-.105 5.08.05 7.363.204m-644.05-.205c.677 5.89 1.18 11.807 2.082 17.662.804 5.21 1.778 10.43 3.194 15.5 1.046 3.742 3.485 6.413 8.026 5.945 4.11-.423 4.881 2.504 4.307 5.396-.564 2.835-1.913 5.627-3.417 8.139-2.736 4.57-5.02 4.804-8.372.575-2.223-2.804-4.093-6.083-5.323-9.441-4.521-12.342-7.1-25.113-7.512-38.293-.052-1.637-.511-3.262-.35-5.21 2.742-.302 5.054-.288 7.365-.273"
              />
              <path
                fill="#FBFCFC"
                d="m783.711 642.215-3.732-11.094h61.334c0 2.772 0 5.384-.573 8.503-17.486.494-34.4.413-51.312.56-1.911.018-3.811 1.323-5.717 2.03"
              />
              <path
                fill="#BDBEBD"
                d="M529.08 611.981c-.089 5.406.498 10.949-.567 16.155-.49 2.39-3.982 5.472-6.52 5.917-13.48 2.363-28.64-1.558-31.25-19.842 2.734-.153 5.45-.305 8.793-.147 1.726 1.75 2.668 3.352 3.954 4.598 2.915 2.826 5.596 5.118 10.582 4.847 8.163-.443 11.916-5.217 15.007-11.528"
              />
              <path
                fill="#F9F9F9"
                d="M499.085 578.23c6.771-2.14 13.463-4.59 20.335-6.333 7.408-1.88 9.156-.367 9.634 7.72-3.252 7.982-12.52 13.862-20.254 13.133-6.924-.653-9.852-5.03-9.715-14.52"
              />
              <path
                fill="#B8B9BA"
                d="M498.622 578.145c.326 9.575 3.254 13.952 10.178 14.605 7.734.73 17.002-5.15 20.185-12.782 1.476 8.293-.515 12.917-8.3 15.505-6.7 2.229-13.846 3.493-20.894 4.2-7.446.746-11.445-2.882-12.794-10.322-.616-3.4-.776-6.884-1.182-10.7 4.442-.212 8.393-.401 12.807-.506"
              />
              <path
                fill="#BDBEBD"
                d="m565.866 578.598 12.454.578c-1.288 5.686-2.137 11.13-3.902 16.26-.578 1.682-3.397 3.297-5.42 3.659-10.35 1.848-20.142-.586-29.374-5.169-4.438-2.204-5.19-6.587-4.38-11.529 4.78 2.647 8.676 6.57 13.388 8.49 10.256 4.182 17.142-1.076 17.234-12.289"
              />
              <path
                fill="#FAFAFA"
                d="M565.517 578.41c.257 11.401-6.63 16.659-16.885 12.478-4.712-1.922-8.609-5.844-13.21-8.891-.158-11.78.706-12.509 11.854-9.372 6.013 1.693 11.931 3.72 18.241 5.785"
              />
              <path
                fill="#BFC1C0"
                d="M563.965 614.1c2.618.26 5.237.518 7.835.775-.232 9.8-7.22 17.668-17.003 19.056-2.61.37-5.32.355-7.957.157-8.328-.627-11.796-3.946-11.977-12.203-.1-4.54.84-9.102 1.7-13.436.57 8.071 3.024 12.44 8.276 14.262 6.275 2.176 14.066.044 17.871-5.058.717-.961.852-2.357 1.255-3.553"
              />
              <path
                fill="#F4F4F5"
                d="M476.004 519.034c7.516-1.042 15.073-1.857 22.539-3.18 11.82-2.094 22.894-5.794 30.01-16.704l1.496.48c-.576 4.893-1.153 9.785-2.295 14.991-5.285 2.345-10.004 4.376-15.05 6.39-1.118.243-1.907.503-3.056.83-1.086.129-1.812.19-2.98.217-4.031-.006-7.62.097-11.206.039-6.739-.11-13.476-.315-20.213-.48 0 0-.287-.023-.223-.416.37-.985.674-1.576.978-2.167"
              />
              <path
                fill="#B8B9BA"
                d="M335.883 642.072c.019 1.498-.198 3.047.116 4.48.385 1.763 1.213 3.428 1.85 5.136 1.733-1.529 4.464-2.767 5.01-4.641 1.557-5.356 2.215-10.971 3.26-16.479.117-.614.442-1.188 1.5-1.78v15.22l1.386.084 1.427-11.833.993-.148q.45 8.671.897 17.342l1.621.654c1.003-2.053 2.429-4.012 2.909-6.18.748-3.377.954-6.888 1.205-10.356.289-3.992 2.024-5.443 6.22-3.727-.397 5.752-1.03 11.49-1.973 17.175-.345 2.08-.973 4.433-2.292 5.946-1.505 1.727-4.914 4.19-5.763 3.642-2.503-1.612-4.149-4.553-5.943-7.425.064-.675-.06-.9-.185-1.126-.1-.312-.123-.697-.327-.909-.14-.146-.759-.117-.775-.06-.39 1.415-.321 3.184-1.165 4.196-1.56 1.87-3.499 4.289-5.563 4.6-1.655.249-3.871-2.124-5.558-3.644-.903-.813-1.213-2.283-1.553-3.999 1.06-2.417 1.882-4.292 2.703-6.168"
              />
              <path
                fill="#F4F4F5"
                d="M857.184 622.75c-2.452.218-4.736.063-7.424-.22-.912-6.088-1.42-12.044-2.128-18.753-1.616-4.117-3.032-7.482-4.447-10.847l-4.633-4.174c7.03-8.82 13.431-3.806 15.108 4.125 2.043 9.66 2.531 19.65 3.524 29.869"
              />
              <path
                fill="#C4C5C6"
                d="M526.139 404.863c6.345 6.109 9.992 5.763 13.528-2.614 2.79-6.61 4.026-13.877 6.293-21.081 3.217 14.365-1.988 31.876-14.156 46.867-3.966-5.99-7.736-11.683-11.215-17.718 2.444.373 4.595 1.088 6.811 1.824z"
              />
              <path
                fill="#EFEFEF"
                d="M213.046 622.505c-2.392.397-4.704.383-7.43.25.516-8.634 1.282-17.17 2.476-25.648.38-2.697 1.639-5.371 2.941-7.819 3.455-6.49 8.785-6.451 12.339.321-4.795 2.586-6.936 6.438-7.83 11.16a4709 4709 0 0 1-2.496 21.736"
              />
              <path
                fill="#F4F4F5"
                d="M181.029 622.954c.685-9.244.896-18.556 2.2-27.712 1.11-7.795 3.019-8.511 10.94-7.29-1.524 11.245-3.043 22.456-4.98 34.245-2.998.637-5.58.697-8.16.757m692.205-.276-3.932-35.013c6.35-1.927 8.716-1.187 9.994 6.226 1.595 9.246 1.91 18.712 2.267 28.582-3.116.401-5.723.303-8.33.205"
              />
              <path
                fill="#F8F8F8"
                d="M529.09 611.601c-3.102 6.69-6.855 11.465-15.018 11.908-4.986.27-7.667-2.021-10.582-4.847-1.286-1.246-2.228-2.847-3.507-4.594 7.203-2.706 14.543-5.252 21.989-7.442 3.787-1.113 6.59.212 7.118 4.975"
              />
              <path
                fill="#EFEFEF"
                d="M842.836 593.073c1.764 3.222 3.18 6.587 4.617 10.344-.47 2.69-1.244 4.972-1.395 7.294-.305 4.712-2.763 7.089-8.053 7.284-5.062.186-6.57-1.306-7.021-6.702-.393-4.703-.909-9.396-1.382-14.221 3.054 1.556 6.02 1.555 8.54-1.896.815-1.116 2.862-1.333 4.694-2.103"
              />
              <path
                fill="#C4C5C6"
                d="m499.056 404.601-2.997 8.5c-10.834-17.515-3.147-33.287 3.574-50.179 1.335 3.238 2.384 5.786 3.103 8.992-.404 5.108-2.562 9.097-3.38 13.222-1.241 6.262-.309 12.955-.3 19.465"
              />
              <path
                fill="#EFEFEF"
                d="M764.601 419.088c1.983.302 3.59 1.005 5.108.85 17.26-1.773 34.505-3.683 51.757-5.533 1.3-.14 2.62-.102 4.17.137-4.924 2.483-10.083 4.682-15.439 7.18-5.746.776-11.293 1.605-16.848 1.668-16.32.185-32.645.066-48.968.066l-.06-1.27c6.621-1.031 13.242-2.063 20.28-3.098"
              />
              <path
                fill="#F9F9F9"
                d="M563.637 613.94c-.075 1.356-.21 2.752-.927 3.713-3.805 5.102-11.596 7.234-17.871 5.058-5.252-1.821-7.707-6.19-7.94-14.486 1.807-.892 3.903-2.135 5.48-1.658 7.057 2.136 13.967 4.763 21.258 7.373"
              />
              <path
                fill="#EFEFEF"
                d="M236.046 415.492c2.716-.228 5.663-.312 8.583-.074 16.928 1.38 33.85 2.835 51.06 3.965 6.887.638 13.486 1.574 20.085 2.51l-.11 1.597c-15.34 0-30.68.131-46.017-.065-5.946-.076-11.882-.892-18.241-1.365a264 264 0 0 1-15.36-6.568"
              />
              <path
                fill="#BFC1C0"
                d="M564.466 357.14c1.485-6.403-2.78-11.114-4.507-17.069 1.553 1.426 3.327 2.677 4.623 4.307 7.507 9.441 14.883 18.985 22.347 28.46 1.41 1.79 3.02 3.423 4.888 5.178 1.075 2.16 1.801 4.27 2.94 7.582-10.929-7.338-19.072-15.585-26.377-24.742-1.073-1.345-2.372-2.51-3.914-3.716"
              />
              <path
                fill="#EFEFEF"
                d="M215.883 600.99c.553-4.943 2.694-8.795 7.527-11.046 1.22.69 2.635 1.27 2.898 2.18 2.185 7.576 4.433 15.178 3.405 23.568h-13.49c0-4.511 0-9.497-.34-14.702"
              />
              <path
                fill="#B4B5B6"
                d="M361.199 608.662c1.106-2.605 2.57-5.057 4.03-7.512 1.236-2.079 2.467-4.162 3.7-6.597 5.102-2.244 10.204-4.134 15.294-6.02-.01 8.164-5.398 17.265-14.54 24.435-2.677-1.368-5.403-2.76-8.484-4.306"
              />
              <path
                fill="#D0D2D2"
                d="M221.136 640.376c19.392-.387 38.714-.35 58.514-.312.207 1.436-.064 2.87-.407 4.693-8.845 0-17.437-.014-26.03.003-9.303.019-18.614-.116-27.91.194-3.402.114-4.498-1.058-4.167-4.578"
              />
              <path
                fill="#B8B9BA"
                d="M693.147 594.031c2.566 3.111 5.077 5.92 7.223 8.984.98 1.4 1.243 3.302 1.717 5.329-2.829 1.829-5.543 3.305-8.726 5.037-7.686-5.975-13.012-13.762-14.024-24.77 4.81 1.846 9.208 3.534 13.81 5.42"
              />
              <path
                fill="#C4C5C6"
                d="M434.158 338.277c.213-.77.614-1.187.633-1.619.14-3.28-1.051-7.518.563-9.642 3.153-4.15 7.732-7.29 11.995-10.481 1.459-1.092 3.74-1.088 6.343-1.413 2.187 1.11 3.632 2.15 5.216 2.887.243.113 1.131-1.157 1.72-1.788 2.45 1.894 4.9 3.787 7.047 6.106-7.829 2.177-15.504 3.48-22.802 5.913-2.737.912-4.598 4.452-6.858 6.794-1.282 1.197-2.564 2.393-3.857 3.243M783.707 642.64c1.91-1.133 3.81-2.438 5.72-2.455 16.913-.148 33.827-.067 51.215-.095.475 1.38.475 2.803.475 4.719-13.069 0-25.54-.008-38.01.004-5.162.004-10.328.173-15.483-.008-1.326-.046-2.616-1.133-3.917-2.166"
              />
              <path
                fill="#BFC1C0"
                d="M524.644 366.501c.246 4.814.47 9.404.208 13.966-.09 1.558-1.4 3.046-2.549 4.219a228 228 0 0 1-7.28-14.113c-1.69-3.451-3.377-6.515-5.063-9.58-1.21-4.265-2.42-8.532-3.445-13.318.366-.653.546-.784.726-.916 7.405 5.027 13.208 11.465 17.403 19.742"
              />
              <path
                fill="#E0E0E1"
                d="M616.981 639.878c5.156-1.95 10.166-4.675 15.5-5.686 10.015-1.896 20.187-3.291 30.354-3.934 5.993-.378 12.104 1.09 18.607 1.727.364 1.283.284 2.568.164 4.478-22.066-3.59-43.262-1.254-64.223 6.165-.39-1.166-.396-1.958-.402-2.75"
              />
              <path
                fill="#D0D2D2"
                d="M509.905 361.46a46 46 0 0 1 4.807 9.282c-2.781 5.571-1.131 12.43 3.226 15.245.668 2.092 1.335 4.184 1.868 6.735-.003.725.129.99.26 1.256 0 0-.057.027-.032.315.39.757.757 1.225 1.123 1.694 1.611 2.735 3.223 5.47 4.908 8.541.515 2.877.955 5.419 1.335 7.613-2.216-.736-4.367-1.45-6.854-2.162-6.66-13.5-11.775-27.295-10.706-42.606.126-1.807.012-3.63.065-5.913"
              />
              <path
                fill="#B8B9BA"
                d="M490.093 550.305c.852 1.28 1.34 2.822 1.95 4.314 1.605 3.915 4.865 6.835 8.738 6.076 8.366-1.638 16.536-4.323 24.723-6.79 1.281-.387 2.228-1.884 3.635-2.968.765 4.922-2.423 7.74-6.378 9.188-6.48 2.373-13.116 4.68-19.887 5.812-9.449 1.58-13.036-1.892-13.479-11.488-.06-1.293.252-2.603.698-4.144"
              />
              <path
                fill="#EFEFEF"
                d="M880.979 629.966c.081 9.907-5.014 28.97-12.725 44.328 1.246-7.061 2.855-14.082 3.637-21.193.813-7.4.827-14.886 1.658-22.764 2.788-.41 5.109-.39 7.43-.371M466.152 404.053c1.945-.922 3.536-1.685 6.392-3.054l-2.217 15.961-25.342-1.823a7771 7771 0 0 1 21.167-11.084"
              />
              <path
                fill="#B4B5B6"
                d="M534.982 552.326c7.753 2.485 15.264 5.881 23.115 8.035 9.714 2.665 14.366-1.132 15.256-11.463 3.409 4.252 1.454 8.773-.516 13.085-1.775 3.886-5.615 4.961-9.298 4.073-7.81-1.883-15.602-4.042-23.109-6.867-2.332-.878-3.72-4.266-5.448-6.863"
              />
              <path
                fill="#B0B0B2"
                d="M312.07 641.045c-1.777 3.287-3.024 7.053-5.458 9.748-3.597 3.98-9.806 2.084-11.463-3.002-1.949-5.98 1.69-17.89 7.2-21.801-1.198 5.932-3.057 11.385-4.234 16.982-.308 1.467 1.504 3.379 2.342 5.086 1.877-1 5-1.64 5.415-3.065 1.773-6.096 2.746-12.424 4.011-18.667.39.024.78.048 1.603.345 1.118.636 1.802 1 2.486 1.363 0 0 .03.465-.055 1.093-.672 4.391-1.26 8.155-1.846 11.918"
              />
              <path
                fill="#EFEFEF"
                d="M591.364 400.479c5.25 2.712 10.498 5.428 15.75 8.135 3.32 1.71 6.647 3.407 11.283 5.784l-25.224 2.786c-.8-5.272-1.612-10.618-2.124-16.294.3-.33.315-.411.315-.411"
              />
              <path
                fill="#C1C3C3"
                d="M698.77 629.029c5.04-.369 7.353 2.38 8.204 6.732.532 2.72.934 5.465 1.3 7.642 1.93 1.344 3.549 2.472 5.524 3.658.398 8.438-1.61 10.54-7.681 8.347 2.054-1.1 3.911-1.872 5.769-2.643l-.59-1.413-8.284.642c-.956-3.404-2.147-6.763-2.808-10.223-.79-4.136-1.127-8.358-1.434-12.742"
              />
              <path
                fill="#B4B5B6"
                d="M715.248 630.578c.91 1.153 2.308 2.18 2.642 3.48 1.145 4.456 1.72 9.063 2.953 13.49.366 1.313 2.72 3.35 3.237 3.104 1.549-.736 3.417-2.27 3.74-3.795.594-2.792.17-5.801.17-9.84l1.658 3.443c.214-.939.322-1.407.764-2.222.617-.677.899-1.008 1.18-1.339l-1.526-.891c-.045-.441-.09-.883.169-1.903.033-2.406-.237-4.233-.507-6.06l-.827-4.579c5.114 4.263 4.247 9.265 4.914 14.289-1.089 3.305-1.881 5.95-2.674 8.595-.008.332.029.672-.033.993-.82 4.223-2.106 8.26-7.124 8.938-3.676.496-6.706-2.992-7.992-9.419-.223-5.98-.484-11.132-.744-16.284"
              />
              <path fill="#EFEFEF" d="m189.085 629.298 3.073 40.966c-5.855-13.455-9.8-26.612-10.66-40.878 2.83-.27 5.209-.18 7.587-.088" />
              <path
                fill="#F8F8F8"
                d="M750.672 626.692c2.833-.604 5.666-1.207 8.943-1.353 2.162 6.4 4.094 12.295 5.423 18.324.27 1.223-1.64 4.092-2.707 4.176-1.664.132-4.435-1.043-5.03-2.409-1.89-4.33-2.935-9.022-4.418-13.538-.586-1.783-1.465-3.47-2.21-5.2"
              />
              <path
                fill="#F4F4F5"
                d="M162.045 622.928c.47-7.256.605-14.553 1.512-21.754.794-6.302 1.612-6.546 8.03-5.658-.847 8.842-1.692 17.672-3.027 26.964-2.497.457-4.506.452-6.515.448m732.072-.101-2.451-27.27c5.577-1.484 6.819-1.072 7.722 5.142 1.02 7.024 1.154 14.177 1.181 21.778-2.479.453-4.465.401-6.452.35"
              />
              <path
                fill="#B0B0B2"
                d="M750.32 626.748c1.098 1.674 1.977 3.36 2.563 5.144 1.483 4.516 2.528 9.208 4.417 13.538.596 1.366 3.367 2.541 5.031 2.41 1.066-.085 2.977-2.954 2.707-4.177-1.33-6.029-3.26-11.924-5.029-18.223 1.381.609 3.71 1.307 4.088 2.583 1.76 5.943 3.514 11.996 4.09 18.12.191 2.03-2.719 5.154-4.974 6.417-3.123 1.749-6.606.102-7.862-3.104-2.142-5.467-3.593-11.219-5.099-16.913-.479-1.811-.21-3.82.069-5.795"
              />
              <path
                fill="#EFEFEF"
                d="M305.688 611.742c.58-.396.858-.58 1.152-.73 9.418-4.81 11.009-4.33 16.438 4.95 2.098 3.586 1.149 6.404-2.955 6.544-2.827.096-6.15-1.167-8.47-2.882-2.612-1.931-4.345-5.051-6.165-7.882m446.814 7.857c-2.987 1.352-5.613 3.126-8.407 3.45-4.173.485-6.121-2.734-4.234-6.47 1.11-2.2 2.694-4.175 4.175-6.17 1.814-2.442 4.049-3.253 6.927-1.637 2.278 1.278 4.662 2.366 7.67 3.875-2.213 2.546-4.028 4.636-6.13 6.952"
              />
              <path
                fill="#BFC1C0"
                d="M562.958 397.4c1.34-2.64 3.342-4.765 3.93-7.227 1.223-5.118 1.697-10.414 2.787-15.903 5.098 12.078 4.025 24.341-.314 37.626-2.378-5.265-4.38-9.698-6.403-14.495"
              />
              <path
                fill="#F9F9F9"
                d="M309.534 626.186c-.916 6.383-1.889 12.711-3.662 18.807-.414 1.426-3.538 2.064-5.415 3.065-.838-1.707-2.65-3.62-2.342-5.086 1.177-5.597 3.036-11.05 4.592-16.958 2.127-.257 4.302-.112 6.827.172"
              />
              <path
                fill="#B0B0B2"
                d="M313.655 644.952c.762.016 1.147.264 1.509.54 1.94 1.48 4.586 4.598 5.672 4.126 2.568-1.117 5.369-3.582 6.31-6.15 1.744-4.76 2.226-9.984 3.852-15.274 1.138-.249 1.658-.24 2.177-.23-.073 1.413-.146 2.825-.536 4.93-.752 4.47-1.186 8.248-1.62 12.025-.84 1.73-1.479 3.6-2.562 5.162-2.318 3.34-5.236 6.698-9.682 5.002-4.081-1.556-6.152-5.204-5.12-10.13"
              />
              <path
                fill="#C4C5C6"
                d="M570.925 328.478c-3.193-5.11-6.337-9.987-9.48-14.865l.77-.815c3.118 2.747 6.101 5.67 9.398 8.184 2.697 2.056 5.767 3.623 9.098 5.59 2.686 3.48 4.947 6.775 7.208 10.07l-.794.747c-5.384-2.893-10.767-5.785-16.2-8.91"
              />
              <path
                fill="#EFEFEF"
                d="M900.007 631.013c-.85 10.474-2.88 20.586-9.1 29.419 1.04-9.536 2.079-19.071 3.563-29.033 2.143-.413 3.84-.4 5.537-.386"
              />
              <path
                fill="#B8B9BA"
                d="M286.136 375.392c1.163-.131 2.565.037 3.972.115 2.381.132 4.765.207 7.454-.04.307-.346.432-.293.449.185.63 1.397 1.241 2.316 1.854 3.235l2.158-1.954 27.058 12.47-.344 1.551c-3.034-.638-6.067-1.277-9.41-2.084-1.302-.914-2.188-1.946-3.304-2.363-9.859-3.68-19.758-7.252-29.887-11.115"
              />
              <path
                fill="#B0B0B2"
                d="M731.482 646.246c.452-2.541 1.244-5.186 2.334-8.07 1.043 1.925 1.416 4.333 2.635 6.184 1.355 2.06 3.336 4.791 5.314 5.034 1.791.22 3.964-2.49 5.927-3.965.501-.376.845-.96 1.6-1.438 2.532 4.433.083 7.71-2.872 10.24-2.919 2.499-5.988.793-8.404-1.489-2.19-2.067-4.138-4.39-6.534-6.496"
              />
              <path
                fill="#EFEFEF"
                d="M917.025 630.046c.524 9.567-1.594 18.446-6.09 26.708l-1.271-.234c.761-8.528 1.523-17.056 2.708-26.01 1.833-.44 3.243-.452 4.653-.464m-748.05-.082 1.776 27.36c-4.879-7.908-6.549-16.62-7.41-26.051 2.11-.827 3.872-1.068 5.634-1.309"
              />
              <path
                fill="#E0E0E1"
                d="M499.33 404.337c-.283-6.246-1.215-12.94.026-19.201.818-4.125 2.976-8.114 3.343-12.848 4.729 10.993 2.144 21.53-3.368 32.05"
              />
              <path
                fill="#D0D2D2"
                d="M475.513 521.88c6.473-.098 13.21.106 19.949.217 3.586.058 7.175-.045 11.385.206 1.47.011 2.315-.26 3.161-.53.79-.26 1.578-.519 2.815-.465.75.877 1.052 1.441 1.355 2.005-12.94 4.229-25.717 3.06-38.665-1.433"
              />
              <path
                fill="#B0B0B2"
                d="M438.355 334.941c1.92-2.25 3.781-5.789 6.518-6.701 7.298-2.433 14.973-3.736 22.955-5.61 3.139.059 5.82.239 8.786.684.417.71.55 1.155.422 2.038-6.935-.098-13.689-1.817-20.094 1.747-6.083 2.583-12.165 5.166-18.587 7.842"
              />
              <path
                fill="#EFEFEF"
                d="m911.999 623.003-1.501-14.594c3.958-.944 6.074.277 6.5 4.018.357 3.134.543 6.289.401 9.983-2.069.563-3.735.578-5.4.593m-760.105 7.871v25.003l-.526.315c-1.78-8.142-3.56-16.283-4.988-24.795 2.073-.42 3.794-.472 5.514-.523m-5.97-7.859c.238-3.455.434-6.913.726-10.364.288-3.405 2.027-5.121 5.873-4.502-.209 4.57-.418 9.149-1.078 14.233-2.141.549-3.831.59-5.52.633"
              />
              <path
                fill="#E0E0E1"
                d="M497.506 302.922c.476-5.38 4.948-1.651 6.795-3.656-.918 4.58-2.404 8.85-7.377 9.858-2.07.419-4.481-.855-6.281-1.256 2.703-1.839 4.714-3.206 6.863-4.946"
              />
              <path
                fill="#B0B0B2"
                d="M214.638 401.103c1.641.918 2.913 1.744 3.944 2.414-.172.775-.4 1.792-.603 3.11-.148.324-.319.346-.743.416-6.198-3.043-12.143-6.133-18.087-9.224l.34-1.03c4.927 1.407 9.853 2.814 15.15 4.314"
              />
              <path
                fill="#E0E0E1"
                d="M600.396 649.089c-.653-.563-.944-1.134-1.356-2.009.709-1.246 1.366-2.677 2.398-3.04 3.495-1.228 7.123-2.078 11.271-2.824 1.141 1.054 1.71 1.86 2.278 2.666-1.757.694-3.515 1.388-5.827 1.841-1.419.275-2.284.79-3.149 1.306-1.75.684-3.502 1.368-5.615 2.06"
              />
              <path
                fill="#EFEFEF"
                d="M881.151 629.611c-2.493.335-4.814.316-7.56.25-.467-2.13-.508-4.212-.454-6.739 2.703-.346 5.31-.248 8.354-.192.236 2.08.034 4.203-.34 6.681m19.129 1.107c-1.97.281-3.667.268-5.784.219-.442-2.427-.464-4.818-.433-7.66 2.04-.399 4.027-.347 6.438-.344.301 2.465.177 4.977-.22 7.785"
              />
              <path
                fill="#E0E0E1"
                d="M748.653 635.744c-4.992-.864-6.317-4.975-7.724-9.369 4.261-1.744 6.36.065 6.918 4.28.211 1.597.59 3.17.806 5.089"
              />
              <path
                fill="#EFEFEF"
                d="M145.693 623.277c1.921-.304 3.61-.346 5.718-.453.449 2.345.48 4.755.497 7.608-1.734.493-3.455.544-5.51.54-.535-2.514-.735-4.973-.705-7.695m43.47 5.591c-2.456.339-4.834.247-7.649.094-.48-1.76-.526-3.46-.528-5.583 2.624-.485 5.205-.545 8.188-.75.29 1.84.178 3.825-.011 6.24"
              />
              <path
                fill="#F4F4F5"
                d="M802.442 356.584c.418.207.456.448.526 1.053.032.363.034.36-.213.517-.39.517-.533.876-.675 1.235-5.575 2.035-11.15 4.07-16.923 5.826 5.504-3.05 11.205-5.824 17.285-8.631"
              />
              <path
                fill="#EFEFEF"
                d="M168.991 629.524c-1.778.681-3.54.922-5.648 1.324-.688-2.245-1.029-4.65-1.334-7.488 2.045-.428 4.054-.423 6.492-.443.455 2.039.48 4.103.49 6.607"
              />
              <path
                fill="#E0E0E1"
                d="M359.486 561.755c.183-1.025.332-1.815.658-3.545 2.02 2.621 3.584 4.652 5.496 6.73-.304 2.866-.76 5.606 3.227 6.883-1.869 2.318-3.58 1.77-4.817-.565-1.614-3.047-3.073-6.175-4.564-9.503"
              />
              <path
                fill="#D0D2D2"
                d="M331.306 645.065c.147-3.923.581-7.7 1.28-11.75.726-.295 1.186-.318 2.036-.322.39.019.482.109.461.5.284 2.087.587 3.78.89 5.475.01.777.019 1.554-.031 2.718-.88 2.262-1.702 4.137-2.788 6.193-.697-.769-1.13-1.719-1.848-2.814"
              />
              <path
                fill="#B4B5B6"
                d="M514.573 523.318c-.698-.569-1-1.133-1.423-1.993 4.6-2.328 9.319-4.36 14.4-6.377-2.03 5.776-7.278 7.12-12.977 8.37"
              />
              <path
                fill="#EFEFEF"
                d="M911.97 623.444c1.694-.456 3.36-.47 5.426-.606.243 2.07.086 4.261-.22 6.83-1.56.39-2.97.402-4.805.425-.426-2.062-.428-4.135-.401-6.65"
              />
              <path
                fill="#D0D2D2"
                d="M457.406 327.203c5.941-3.668 12.695-1.949 19.822-1.55 1.404.033 2.358.204 3.312.374l.016 1.281c-7.562 0-15.124 0-23.15-.105"
              />
              <path
                fill="#B0B0B2"
                d="M715.147 630.272c.361 5.458.622 10.61.882 16.204-.402.464-.804.485-1.517.604-.656-5.443-1.016-10.984-1.263-16.529-.008-.168 1.172-.388 1.898-.279"
              />
              <path
                fill="#4C4B4D"
                d="M312.571 641.077c.087-3.795.674-7.559 1.38-11.72.551-.373.983-.348 1.74-.336-.158 3.89-.642 7.792-1.372 11.93-.58.209-.913.184-1.748.126"
              />
              <path
                fill="#B0B0B2"
                d="M703.04 652.296c2.733-.516 5.495-.73 8.257-.944l.589 1.413c-1.858.771-3.715 1.542-5.99 2.36-1.22-.812-2.024-1.67-2.856-2.829"
              />
              <path
                fill="#C4C5C6"
                d="M301.757 376.688c-.454.896-1.173 1.547-1.892 2.199-.613-.92-1.225-1.838-1.797-3.198 1.167-.043 2.295.355 3.689.999"
              />
              <path
                fill="#D0D2D2"
                d="M615.28 643.903c-.861-.827-1.43-1.633-2.176-2.7.932-.598 2.041-.934 3.514-1.297.37.764.376 1.556.387 2.743-.475.687-.954.98-1.726 1.254M475.608 518.918c.092.707-.213 1.298-.682 2.18-1.816-.191-3.467-.673-5.119-1.155l.069-1.14c1.778 0 3.557 0 5.732.115M321.59 626.015c-.315.938-1.043 1.884-1.77 2.83-.634-.587-1.267-1.173-1.9-2.103 1.085-.468 2.172-.594 3.67-.727"
              />
              <path fill="#F4F4F5" d="M864.521 323.663c.214 3.106-1.365 4.258-4.557 3.058 1.32-1.218 2.779-2.105 4.557-3.058" />
              <path fill="#E0E0E1" d="M749.409 641.57c-3.033-.089-2.75-1.582-1.056-3.566.65.99.927 2.118 1.056 3.566" />
              <path fill="#B8B9BA" d="M705.957 609.27c.857-.588 1.833-.898 3.158-1.003-.78.564-1.91.922-3.158 1.003" />
              <path fill="#F4F4F5" d="M878.57 314.75c.294 1.67.73 3.846-2.503 2.235.6-.935 1.4-1.557 2.504-2.235" />
              <path fill="#D0D2D2" d="M606.345 647.046c.531-.532 1.396-1.048 2.459-1.303-.577.613-1.352.967-2.46 1.303" />
              <path fill="#4C4B4D" d="M313.977 627.682c-.689-.012-1.373-.375-2.198-1.004.64.04 1.422.346 2.198 1.004" />
              <path fill="#F4F4F5" d="M897.363 314.056c-.305.05-.35-.428-.36-.669.424-.35.859-.46 1.63-.57-.096.395-.53.791-1.27 1.239" />
              <path fill="#E0E0E1" d="M490.037 305.693c-.427-.264-.554-.725-.68-1.186.327.33.654.66.68 1.186" />
              <path fill="#FBFCFC" d="M417.677 429.65c.282-.237.707-.315 1.133-.393-.033.243-.066.486-.394.795-.296.065-.595-.242-.739-.401" />
              <path fill="#EFEFEF" d="M591.38 400.535c-.109.045-.248.115-.387.185.074.018.148.035.296-.094.075-.147.06-.066.091-.09" />
              <path fill="#131414" d="M836.467 591.45c.056-.034-.056.033 0 0" />
              <path fill="#E0E0E1" d="M371.3 571.193c-.029-.177.192-.375.537-.44-.013.228-.15.323-.537.44" />
              <path
                fill="#BFC1C0"
                d="m505.452 346.473-.35-1.098c.26.011.52.022.718.431-.062.399-.368.667-.368.667m.46-.403c.47-.016.786.1 1.216.453-.067.368-.247.5-.728.78-.526-.008-.702-.207-.89-.64-.058-.19.248-.458.402-.592"
              />
              <path fill="#F8F8F8" d="M348.093 648.273c.152.008.277.234.251.547-.15.088-.28-.33-.251-.547" />
              <path fill="#FEFEFE" d="M693.898 664.663c-.296.17-.653.018-.986-.43.325-.16.625-.026.986.43" />
              <path fill="#232123" d="M193.447 672.533c-.035-.059.036.058 0 0" />
              <path fill="#0E0E0F" d="M790.552 734.467c.033.056-.033-.055 0 0" />
              <path fill="#EFEFEF" d="M231.628 413.266c.196-.113.566.02 1.118.384-.194.107-.569-.015-1.118-.384" />
              <path
                fill="#E0E0E1"
                d="M518.287 385.993c-4.706-2.82-6.356-9.68-3.57-14.863 2.603 4.29 4.895 8.75 7.188 13.59-1.09.68-2.179.98-3.618 1.273"
              />
              <path
                fill="#232123"
                d="M460.44 315.928c-.401.924-1.289 2.194-1.532 2.081-1.584-.738-3.029-1.776-4.833-2.857.515-1.135 1.343-2.13 2.171-3.126 1.336 1.203 2.671 2.406 4.194 3.902"
              />
              <path
                fill="#C4C5C6"
                d="M521.101 395.685c-.31-.167-.676-.635-1.054-1.42.325.161.661.64 1.054 1.42m-1.038-1.954c-.128-.018-.26-.284-.222-.644.17-.094.218.397.222.644m39.422-82.29c.057-.032-.057.033 0 0"
              />
              <path
                fill="#100F10"
                d="M501.434 322.418c.071.096-.223.088-.223.088s.15-.183.223-.088m26.48 18.671c.367.129.586.406.804.683a2.2 2.2 0 0 1-1-.053c-.231-.165.046-.482.196-.63m-82.912 100.913c.088-.338.176-.676.504-1.136.366.051.495.224.785.675-.222.496-.605.714-1.168.675-.18-.256-.121-.214-.12-.214m-.091-.059c-.017.325-.004.668.01 1.01-.177-.249-.355-.499-.226-.85.306-.101.247-.143.216-.16m-2.748 16.183c.08-.355.348-.556.617-.757.086.232.172.464.128.92-.13.222-.556-.01-.745-.163m-34.182-12.124c-.06.513-.312.853-.564 1.194-.13-.378-.26-.756-.208-1.414.315-.171.448-.062.772.22"
              />
              <path
                fill="#BFC1C0"
                d="M630.397 455.285c.013-.275.156-.425.299-.574-.057.234-.113.467-.299.574m2.45 1.858c-.287-.118-.464-.344-.64-.57.236-.042.472-.083.835.058.127.183-.086.404-.195.512"
              />
              <path
                fill="#D0D2D2"
                d="M830.448 285.939c-1.384.933-2.642 1.516-3.586 2.426-1.825 1.758-3.473 3.7-5.547 5.592-.035-2.845-1.389-3.04-3.936-1.965-.4-.004-.523-.118-.523-.118 1.615-2.022 3.013-4.276 4.884-6.023 5.758-5.376 11.697-10.558 17.913-15.833-2.747 5.227-5.842 10.473-9.205 15.921m9.809-16.096q-.139-.605.49-1.684c.253-.16.24-.169.24-.169-.157.565-.315 1.13-.73 1.853"
              />
              <path
                fill="#D0D2D2"
                d="M817.037 292.05c-.125.043-.308.026-.336-.084.155-.092.279.022.336.083m-2.442 1.409c.058.082-.164.113-.164.113s.107-.195.164-.113m26.41-25.452c.1-.03.197-.067.138-.06-.155.044-.143.054-.138.06m-28.542 27.424c.074-.048.098.145.098.145s-.172-.098-.098-.146"
              />
              <path fill="#C4C5C6" d="M794.977 303.972c.119-.037.258-.05.232 0-.165.065-.21.023-.232 0" />
              <path
                fill="#D0D2D2"
                d="M294.831 318.561c-.385 1.13-.978 2.008-1.708 3.172-8.543-5.087-16.948-10.458-25.354-15.83l1.222-2.097c8.544 4.835 17.089 9.669 25.84 14.755m-56.774-29.887c-2.519-2.002-5.002-4.319-7.85-6.683-2.465-2.987-4.565-5.925-6.665-8.864l1.363-1.163c6.39 5.696 12.779 11.392 19.156 17.535-.012.445-.202.671-.202.671-1.922-.603-3.845-1.207-5.802-1.496m7.785 2.5c-.54-.183-1.079-.367-1.8-.777-.183-.227.007-.453.103-.57.617.114 1.139.345 1.748.887.089.312-.05.46-.05.46m1.11.881c-.345-.042-.629-.197-.98-.672-.13-.209.009-.357.084-.429.384.062.628.271.873.805.065.249.023.296.023.296m.065-.068c.15.166.276.353.401.54-.116-.047-.232-.094-.407-.307-.059-.165-.017-.212.006-.233m-24.02-21.984c-.352-.061-.62-.244-.902-.775-.095-.228-.108-.212-.108-.212.336.077.605.255.91.76.102.224.1.227.1.227m.003-.004q.189.094.374.19c-.1.044-.198.089-.337-.026a1 1 0 0 1-.037-.164m-.992-1.006a10 10 0 0 0-.382-.418c.087.05.174.101.311.297.05.144.063.128.07.121m44.587 34.458c.05.071-.146.095-.146.095s.095-.166.146-.095"
              />
              <path
                fill="#F4F4F5"
                d="M802.999 358.001c.818.019 1.637.037 2.868.112-.477.469-1.365.879-2.55.879-.301-.605-.308-.8-.315-.995zm35.319-12.968c.27-.455.832-.936 1.558-1.167-.313.547-.79.844-1.558 1.167"
              />
              <path fill="#FEFEFE" d="M802.755 358.154c.254.038.26.233.29.721-.143.321-.31.349-.72.445-.103-.29.04-.65.43-1.166" />
              <path
                fill="#D0D2D2"
                d="M334.965 632.967c.42-3.079.887-6.113 1.353-9.147l1.32.08c-.251 2.797-.503 5.595-1.102 8.781-.709.4-1.07.41-1.432.421zm-1.55-5.247c-.76.235-1.279.225-2.185.16.175-1.584.737-3.112 1.3-4.64q.562.135 1.126.268c0 1.323 0 2.645-.24 4.212"
              />
              <path fill="#B8B9BA" d="M335.083 633.494c.382-.403.744-.413 1.373-.397.032 1.727-.204 3.425-.46 5.497-.326-1.32-.63-3.014-.913-5.1" />
              <path
                fill="#B0B0B2"
                d="M729.747 628.47c.251 1.402.521 3.229.506 5.302-.353-1.46-.42-3.168-.506-5.301m.298 7.867c.53-.033 1.039.264 1.548.561-.282.33-.564.662-1.123 1.035-.334-.393-.39-.83-.425-1.596"
              />
              <path fill="#B4B5B6" d="M509.648 521.84a6.7 6.7 0 0 1-2.358.5c.546-.308 1.272-.37 2.358-.5" />
            </svg>
          </div>
        </div>
        <nav class="hidden md:flex space-x-6 text-xl">
          <a class="hover:text-red-500" href="#"> Membership </a><a class="hover:text-red-500" href="#"> Promotions </a
          ><a class="hover:text-red-500" href="#"> Classes </a><a class="hover:text-red-500" href="#"> About </a
          ><a class="hover:text-red-500" href="#"> Contact </a>
        </nav>
      </div>
      <div class="flex items-center justify-center space-x-4">
        <a class="bg-gray-800 hover:bg-gray-700 text-white px-4 py-2 rounded-md" href="#"> Login </a
        ><a class="bg-red-600 hover:bg-red-500 text-white px-4 py-2 rounded-md" href="#"> Register </a>
      </div>
    </header>