<%- include('layouts/header') %>
<div class="container mx-auto">
  <h1 class="text-center text-3xl font-bold mt-8">Rezervasyon sayfası</h1>
  <h3 class="text-center text-sm font-bold">Kendinize uygun rezervasyonu seçin.</h3>

  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-8 w-full md:w-3/4">
      <form action="/createreservation" method="post">
        <div class="mb-4">
          <label for="sporTuru" class="block text-gray-700 text-sm font-medium mb-2">Spor Türü</label>
          <select id="sporTuru" name="sport" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="">Seçiniz...</option>
            <option value="zumba">Zumba</option>
            <option value="pilates">Pilates</option>
            <option value="yoga">Yoga</option>
            <option value="spinning">Spinning</option>
            <option value="yuzme">Yüzme</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="tarih" class="block text-gray-700 text-sm font-medium mb-2">Tarih</label>
          <input type="date" name="date" id="tarih" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>
        <div class="mb-4">
          <label for="saat" class="block text-gray-700 text-sm font-medium mb-2">Saat</label>
          <select id="saat" name="time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="">Seçiniz...</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
            <option value="16:00">16:00</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
          </select>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Onayla</button>
      </form>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>
